<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:if condition="{config.view.records.breadcrumb}">
		<f:if condition="{breadcrumbs}">
			<table class="table table-striped">
				<thead>
				<tr>
					<th><f:translate key="related_records">related records</f:translate></th>
				</tr>
				</thead>
				<tbody>
					<f:for each="{breadcrumbs}" as="breadcrumb">
						<tr>
							<td>{breadcrumb}</td>
						</tr>
					</f:for>
				</tbody>
			</table>
		</f:if>
	</f:if>
</html>
