<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:publish="http://typo3.org/ns/In2code/In2publishCore/ViewHelpers"
	  xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
	  data-namespace-typo3-fluid="true"
>
	<div class="in2publish-stagelisting__dropdown in2publish-stagelisting__dropdown--close in2publish-clearfix">
		<f:render partial="Record/Breadcrumbs" arguments="{config: config, breadcrumbs: record.breadcrumbs}" />
		<f:render partial="Record/ShowReasonsWhyNotPublishable" arguments="{record: record}" />

		<div class="in2publish-stagelisting__dropdown__item in2publish-stagelisting__dropdown__item--left">
			<div class="in2publish-stagelisting__dropdown__actions">
				<f:if condition="{record.state} != 'deleted'">
					<f:then>
						<publish:Link.RecordHistory class="in2publish-notextdecoration" uid="{record.id}" table="{record.classification}"><i class="in2publish-icon-history"></i><f:translate key="dirty_properties_history_page">Page History</f:translate></publish:Link.RecordHistory>
						<f:if condition="{record.id} > 1">
							<be:link.editRecord class="in2publish-notextdecoration" uid="{record.id}" table="{record.classification}">
								<i class="in2publish-icon-edit"></i>
								<f:translate key="dirty_properties_edit" default="edit" />
							</be:link.editRecord>
						</f:if>
						<publish:Link.PreviewRecord class="in2publish-notextdecoration" identifier="{record.id}" table="{record.classification}" stagingLevel="local" target="_blank">
							<i class="in2publish-icon-eye"></i>
							<f:translate key="dirty_properties_preview_page">Preview</f:translate>
						</publish:Link.PreviewRecord>
					</f:then>
					<f:else>
						&nbsp;
					</f:else>
				</f:if>
			</div>

			<f:render partial="Record/DirtyProperties/ParentRecords" arguments="{record: record, stagingLevel: 'local'}" />
			<f:render partial="Record/DirtyProperties/ChildRecords" arguments="{record: record, stagingLevel: 'local'}" />
		</div>

		<div class="in2publish-stagelisting__dropdown__item in2publish-stagelisting__dropdown__item--right">
			<div class="in2publish-stagelisting__dropdown__actions">
				<f:if condition="{record.state} != 'added'">
					<f:then>
						<f:if condition="{record.classification} == 'pages' && {record.foreignProps.uid} > 0 && {record.foreignProps.doktype} < 200">
							<f:then>
								<f:if condition="{record.classification} == 'pages' && {record.localProps.uid} > 0 && {record.localProps.doktype} < 200">
									<publish:uri.compareUri identifier="{record.id}" class="in2publish-notextdecoration"><i class="in2publish-icon-eye"></i><f:translate key="dirty_properties_preview_compare">Compare</f:translate></publish:uri.compareUri>
								</f:if>
								<publish:Link.PreviewRecord class="in2publish-notextdecoration" identifier="{record.id}" table="{record.classification}" stagingLevel="foreign" target="_blank">
									<i class="in2publish-icon-eye"></i>
									<f:translate key="dirty_properties_preview_page">Preview</f:translate>
								</publish:Link.PreviewRecord>
							</f:then>
							<f:else>

							</f:else>
						</f:if>
					</f:then>
					<f:else>
						&nbsp;
					</f:else>
				</f:if>
			</div>

			<f:render partial="Record/DirtyProperties/ParentRecords" arguments="{record: record, stagingLevel: 'foreign'}" />
			<f:render partial="Record/DirtyProperties/ChildRecords" arguments="{record: record, stagingLevel: 'foreign'}" />
		</div>
	</div>
</html>
