<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:publish="http://typo3.org/ns/In2code/In2publishCore/ViewHelpers"
	  xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
	  data-namespace-typo3-fluid="true"
>
	<div class="in2publish-stagelisting__dropdown in2publish-stagelisting__dropdown--close in2publish-clearfix">
		<f:render partial="Record/Breadcrumbs" arguments="{config: config, breadcrumbs: record.breadcrumbs}" />

		<f:if condition="{record.publishable}">
			<f:else>
				<ul class="in2publish-related__list">
				<f:for each="{record.unfulfilledDependencies}" as="dependency">
					<li>
						<f:format.nl2br>{dependency}</f:format.nl2br>
					</li>
				</f:for>
				</ul>
			</f:else>
		</f:if>

		<div class="in2publish-stagelisting__dropdown__item in2publish-stagelisting__dropdown__item--left">
			<div class="in2publish-stagelisting__dropdown__actions">
				<f:if condition="{record.state} != 'deleted'">
					<f:then>
						<publish:Link.RecordHistory class="in2publish-notextdecoration" uid="{record.id}" table="{record.classification}"><i class="in2publish-icon-history"></i><f:translate key="dirty_properties_history_page">Page History</f:translate></publish:Link.RecordHistory>
						<f:if condition="{record.id} > 1">
							<be:link.editRecord class="in2publish-notextdecoration" uid="{record.id}" table="{record.classification}">
								<i class="in2publish-icon-edit"></i>
								<f:translate key="dirty_properties_edit" default="edit" />
							</be:link.editRecord>
						</f:if>
						<publish:Link.PreviewRecord class="in2publish-notextdecoration" identifier="{record.id}" table="{record.classification}" stagingLevel="local" target="_blank">
							<i class="in2publish-icon-eye"></i>
							<f:translate key="dirty_properties_preview_page">Preview</f:translate>
						</publish:Link.PreviewRecord>
					</f:then>
					<f:else>
						&nbsp;
					</f:else>
				</f:if>
			</div>

			<f:if condition="{record.stateRecursive} != 'unchanged'">
				<f:comment>
					Show parent record (e.g. page) properties only if they have changed
				</f:comment>
				<f:if condition="{record.state} == 'changed' || {record.state} == 'deleted'">
					<f:if condition="{record.changedProps}">
						<h3>
							<f:translate key="dirty_properties_pageproperties" arguments="{0:'{publish:Tca.GetTableLabelFromLocallang(tableName:record.classification)}'}">Properties</f:translate>
						</h3>
						<ul class="in2publish-stagelisting__dropdown__page in2publish-stagelisting__dropdown__item__list">
							<f:for each="{record.changedProps}" as="fieldName">
								<li>
									<f:if condition="{record.classification} == 'pages'">
										<publish:Link.RecordHistory class="in2publish-notextdecoration" title="{f:translate(key:'dirty_properties_undo',default:'undo')}" uid="{record.id}" table="{record.classification}"><i class="in2publish-icon-history"></i></publish:Link.RecordHistory>
										<f:if condition="{record.id} > 1 && {record.state} != 'deleted'">
											<be:link.editRecord class="in2publish-notextdecoration" uid="{record.id}" table="{record.classification}">
												<i class="in2publish-icon-edit"></i>
												<f:translate key="dirty_properties_edit" default="edit" />
											</be:link.editRecord>
										</f:if>
									</f:if>
									<publish:Tca.GetFieldLabelFromLocallang fieldName="{fieldName}" tableName="{record.classification}" />
									<publish:Tca.FormatPropertyByTcaDefinition fieldName="{fieldName}" tableName="{record.classification}">
										<publish:Miscellaneous.GetPropertyFromStagingDefinition record="{record}" propertyName="{fieldName}" stagingLevel="local" />
									</publish:Tca.FormatPropertyByTcaDefinition>
								</li>
							</f:for>
						</ul>
					</f:if>
				</f:if>


				<f:comment>
					Show children records with dirty properties
				</f:comment>
				<f:for each="{record.children}" key="tableName" as="relatedRecords">
					<f:if condition="{publish:Miscellaneous.HasChangedRecords(records:relatedRecords)}">
						<h3 title="{tableName}"><publish:Tca.GetTableLabelFromLocallang tableName="{tableName}" /></h3>
						<ul class="in2publish-stagelisting__dropdown__item__list">
							<f:for each="{relatedRecords}" as="relatedRecord">
								<f:if condition="{relatedRecord.changed}">
									<li>
										<publish:Link.RecordHistory class="in2publish-notextdecoration" title="{f:translate(key:'dirty_properties_undo',default:'undo')}" uid="{record.id}" table="{record.classification}"><i class="in2publish-icon-history"></i></publish:Link.RecordHistory>
										<f:if condition="{record.id} > 1">
											<be:link.editRecord class="in2publish-notextdecoration" uid="{record.id}" table="{record.classification}">
												<i class="in2publish-icon-edit"></i>
												<f:translate key="dirty_properties_edit" default="edit" />
											</be:link.editRecord>
										</f:if>
										<publish:Tca.GetLabelFieldFromRecord record="{relatedRecord}" stagingLevel="local" />
									</li>
								</f:if>
							</f:for>
						</ul>
					</f:if>
				</f:for>
			</f:if>
		</div>


		<div class="in2publish-stagelisting__dropdown__item in2publish-stagelisting__dropdown__item--right">
			<div class="in2publish-stagelisting__dropdown__actions">
				<f:if condition="{record.state} != 'added'">
					<f:then>
						<f:if condition="{record.foreignPreviewAvailable}">
							<f:then>
								<f:if condition="{record.localPreviewAvailable}">
									<publish:uri.compareUri identifier="{record.id}" class="in2publish-notextdecoration"><i class="in2publish-icon-eye"></i><f:translate key="dirty_properties_preview_compare">Compare</f:translate></publish:uri.compareUri>
								</f:if>
								<publish:Link.PreviewRecord class="in2publish-notextdecoration" identifier="{record.id}" table="{record.classification}" stagingLevel="foreign" target="_blank">
									<i class="in2publish-icon-eye"></i>
									<f:translate key="dirty_properties_preview_page">Preview</f:translate>
								</publish:Link.PreviewRecord>
							</f:then>
							<f:else>
								&nbsp;
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						&nbsp;
					</f:else>
				</f:if>
			</div>

			<f:comment>
				Show page properties only if they have changed
			</f:comment>
			<f:if condition="{record.state} == 'changed' || {record.state} == 'deleted'">
				<f:if condition="{record.changedProps}">
					<h3>
						<f:translate key="dirty_properties_pageproperties" arguments="{0:'{publish:Tca.GetTableLabelFromLocallang(tableName:record.classification)}'}">Properties</f:translate>
					</h3>
					<ul class="in2publish-stagelisting__dropdown__page in2publish-stagelisting__dropdown__item__list">
						<f:for each="{record.changedProps}" as="fieldName">
							<li>
								<publish:Tca.GetFieldLabelFromLocallang fieldName="{fieldName}" tableName="{record.classification}" />
								<publish:Tca.FormatPropertyByTcaDefinition fieldName="{fieldName}" tableName="{record.classification}">
									<publish:Miscellaneous.GetPropertyFromStagingDefinition record="{record}" propertyName="{fieldName}" stagingLevel="foreign" />
								</publish:Tca.FormatPropertyByTcaDefinition>
							</li>
						</f:for>
					</ul>
				</f:if>
			</f:if>


			<f:comment>
				Show children records with dirty properties
			</f:comment>
			<f:for each="{record.children}" key="tableName" as="relatedRecords">
				<f:if condition="{publish:Miscellaneous.HasChangedRecords(records:relatedRecords)}">
					<h3 title="{tableName}"><publish:Tca.GetTableLabelFromLocallang tableName="{tableName}" /></h3>
					<ul class="in2publish-stagelisting__dropdown__item__list">
						<f:for each="{relatedRecords}" as="relatedRecord">
							<f:if condition="{relatedRecord.changed}">
								<li>
									<publish:Tca.GetLabelFieldFromRecord record="{relatedRecord}" stagingLevel="foreign" />
								</li>
							</f:if>
						</f:for>
					</ul>
				</f:if>
			</f:for>
		</div>
	</div>
</html>
