<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<div class="in2publish-page-header">
		<div class="in2publish-page__header">
			<div class="in2publish-page__col in2publish-page__col--stage-page">
				<strong><f:translate key="module_m1_page_stage">Page Stage</f:translate></strong>
			</div>
			<div class="in2publish-page__col in2publish-page__col--stage-action">
			</div>
			<div class="in2publish-page__col in2publish-page__col--compare">
			</div>
			<div class="in2publish-page__col in2publish-page__col--live-page">
				<strong><f:translate key="module_m1_page_live">Page Live</f:translate></strong>
			</div>
			<div class="in2publish-page__col in2publish-page__col--status">
				<strong><f:translate key="record.state">State</f:translate></strong>
			</div>
			<div class="in2publish-page__col in2publish-page__col--selection">
			</div>
			<div class="in2publish-page__col in2publish-page__col--publish">
				<strong><f:translate key="module_m1_workflow">Workflow</f:translate></strong>
			</div>
		</div>
	</div>
</html>