<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:publish="http://typo3.org/ns/In2code/In2publishCore/ViewHelpers"
	  data-namespace-typo3-fluid="true"
>
	<f:if condition="{record.children.pages}">
		<publish:record.pageChildrenRecursion each="{record.children.pages}" as="page">
			<div class="in2publish-page-group">
				<f:render partial="Record/PageRow" arguments="{config: config, record: page, depth: depth}" />
				<f:variable name="depth" value="{publish:math.add(value: depth, increment: 1)}" />
				<div class="in2publish-page-group__children">
					<f:render partial="Record/PageRecursion" arguments="{config:config, record: page, depth:depth}" />
				</div>
				<f:variable name="depth" value="{publish:math.subtract(value: depth, increment: 1)}" />
			</div>
		</publish:record.pageChildrenRecursion>
	</f:if>
</html>
