<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="tx-in2publish-margins in2publishjs__publishfilter">
	<fieldset class="form-section">
		<div class="form-row">
			<f:comment>
				Search
			</f:comment>
				<div class="form-group w-25">
					<label for="in2publish__publishfilter_title" class="form-label">
						<f:translate key="module_m1_filter_field_search">Search</f:translate>
					</label>
					<input id="in2publish__publishfilter_title" placeholder="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.enterSearchString')}" type="search" class="form-control js-form-search" data-workflow-filter-field="true" name="freeText" value="{freeTextFilter}" />
				</div>

			<f:comment>
				Filter by change state
			</f:comment>
			<div class="form-group">
				<label for="in2publish__publishfilter_state" class="form-label"><f:translate key="module_m1_filter_state">Change state</f:translate></label>
					<select id="in2publish__publishfilter_state" class="form-select js-in2publish-statefilter" data-workflow-filter-field="true" name="state">
						<option value="" {f:if(condition: '{stateFilter} == \'\'', then: 'selected')}><f:translate key="module_m1_filter_state.all">All</f:translate></option>
						<option value="changed" {f:if(condition: '{stateFilter} == \'changed\'', then: 'selected')}><f:translate key="record.state.changed.short">changed</f:translate></option>
						<option value="added" {f:if(condition: '{stateFilter} == \'added\'', then: 'selected')}><f:translate key="record.state.added.short">added</f:translate></option>
						<option value="deleted" {f:if(condition: '{stateFilter} == \'deleted\'', then: 'selected')}><f:translate key="record.state.deleted.short">deleted</f:translate></option>
						<option value="moved" {f:if(condition: '{stateFilter} == \'moved\'', then: 'selected')}><f:translate key="record.state.moved.short">moved</f:translate></option>
						<option value="unchanged" {f:if(condition: '{stateFilter} == \'unchanged\'', then: 'selected')}><f:translate key="record.state.unchanged.short">unchanged</f:translate></option>
					</select>
				</div>

			<f:comment>
				Filter by relative level
			</f:comment>

			<div class="form-group">
				<label for="in2publish__publishfilter_level" class="form-label"><f:translate key="module_m1_filter_field_level">Level</f:translate></label>
				<select id="in2publish__publishfilter_level" class="form-select js-in2publish-levelfilter" data-workflow-filter-field="true" name="relative-level">
					<option value="{f:uri.action(action: 'index', arguments: { pageRecursionLimit: 0  })}" {f:if(condition: '{pageRecursionLimit} == 0', then: 'selected')}><f:translate key="m1.page_recursion.depths" arguments="{0: 0 }">0 levels</f:translate></option>
					<option value="{f:uri.action(action: 'index', arguments: { pageRecursionLimit: 1  })}" {f:if(condition: '{pageRecursionLimit} == 1', then: 'selected')}><f:translate key="m1.page_recursion.depth" arguments="{0:  1 }">1 level</f:translate></option>
					<option value="{f:uri.action(action: 'index', arguments: { pageRecursionLimit: 2  })}" {f:if(condition: '{pageRecursionLimit} == 2', then: 'selected')}><f:translate key="m1.page_recursion.depths" arguments="{0: 2 }">2 levels</f:translate></option>
					<option value="{f:uri.action(action: 'index', arguments: { pageRecursionLimit: 3  })}" {f:if(condition: '{pageRecursionLimit} == 3', then: 'selected')}><f:translate key="m1.page_recursion.depths" arguments="{0: 3 }">3 levels</f:translate></option>
					<option value="{f:uri.action(action: 'index', arguments: { pageRecursionLimit: 4  })}" {f:if(condition: '{pageRecursionLimit} == 4', then: 'selected')}><f:translate key="m1.page_recursion.depths" arguments="{0: 4 }">4 levels</f:translate></option>
					<option value="{f:uri.action(action: 'index', arguments: { pageRecursionLimit: 5  })}" {f:if(condition: '{pageRecursionLimit} == 5', then: 'selected')}><f:translate key="m1.page_recursion.depths" arguments="{0: 5 }">5 levels</f:translate></option>
					<option value="{f:uri.action(action: 'index', arguments: { pageRecursionLimit: 6  })}" {f:if(condition: '{pageRecursionLimit} == 6', then: 'selected')}><f:translate key="m1.page_recursion.depths" arguments="{0: 6 }">6 levels</f:translate></option>
					<option value="{f:uri.action(action: 'index', arguments: { pageRecursionLimit: 7  })}" {f:if(condition: '{pageRecursionLimit} == 7', then: 'selected')}><f:translate key="m1.page_recursion.depths" arguments="{0: 7 }">7 levels</f:translate></option>
					<option value="{f:uri.action(action: 'index', arguments: { pageRecursionLimit: 8  })}" {f:if(condition: '{pageRecursionLimit} == 8', then: 'selected')}><f:translate key="m1.page_recursion.depths" arguments="{0: 8 }">8 levels</f:translate></option>
					<option value="{f:uri.action(action: 'index', arguments: { pageRecursionLimit: 9  })}" {f:if(condition: '{pageRecursionLimit} == 9', then: 'selected')}><f:translate key="m1.page_recursion.depths" arguments="{0: 9 }">9 levels</f:translate></option>
					<option value="{f:uri.action(action: 'index', arguments: { pageRecursionLimit: 10 })}" {f:if(condition: '{pageRecursionLimit} == 10', then: 'selected')}><f:translate key="m1.page_recursion.depths" arguments="{0: 10}">10 levels</f:translate></option>
				</select>
			</div>
			<f:comment>
				Filter by change state
			</f:comment>

			<div class="form-group">
				<label for="in2publish__publishfilter_language" class="form-label"><f:translate key="module_m1_filter_language">Language</f:translate></label>
					<select id="in2publish__publishfilter_language" class="form-select js-in2publish-languagefilter" data-workflow-filter-field="true" name="language">
						<option value="">
							<f:translate key="module_m1_filter_language.all">Filter by language</f:translate>
						</option>
						<f:for each="{languages}" as="language">
							<f:if condition="{language.uid} >= 0">
								<option
									value="{language.uid}"
									{f:if(condition: '{languageFilter} == \'{language.uid}\'', then: 'selected')}
									data-icon="{core:icon(identifier: '{language.flagIcon}') -> f:format.htmlspecialchars()}"
								>
									{language.title}
							</option>
						</f:if>
					</f:for>
				</select>
			</div>
		</div>
	</fieldset>
</div>
</html>
