{
    "env": {
        "browser": true
    },
    "rules": {
        "quotes": [
            "error",
            "single"
        ],
        "eqeqeq": [
            "error",
            "always"
        ],
        "brace-style": [
            "error",
            "1tbs"
        ],
        "eol-last": [
            "error",
            "always"
        ],
        "no-nested-ternary": "error",
        "padded-blocks": [
            "error",
            {
                "blocks": "never",
                "switches": "never",
                "classes": "never"
            }
        ],
        "space-before-function-paren": [
            "error",
            "never"
        ],
        "space-before-blocks": [
            "error",
            "always"
        ]
    }
}
