msi.iws
.idea/
nbproject/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.svn
.sass-cache

Resources/Private/Clickdummy/Fonts
Resources/Private/Clickdummy/typo3_src-6.2.9
Resources/Private/Clickdummy/zextensions.css

# Generated
.project/phars
.project/temp
.project/artifacts
Build/testing-docker/.env
Build/.phpunit.result.cache
.php-cs-fixer.cache
composer.lock
docker-compose.yaml
node_modules/
