msi.iws
.idea/
nbproject/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.svn
.sass-cache

Resources/Private/Clickdummy/Fonts
Resources/Private/Clickdummy/typo3_src-6.2.9
Resources/Private/Clickdummy/zextensions.css

# Generated
.Build
Build/testing-docker/.env
composer.lock
