@import "Settings";

.positionRelative {
  position: relative;
}

i.loadinganimation,
a.loadinganimation,
button.loadinganimation:not(.disabled) {
  &:before {
    content: '';
    color: $whitesmoke;
    position: absolute;
    right: 6px;
    width: 25px;
    height: 25px;
    border: 4px solid;
    border-left-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    @include opacity(0);
    @include transition-duration(.5s);
    @include transition-property(opacity);
    @include animation-duration(1s);
    @include animation-iteration-count(infinite);
    @include animation-name(rotate);
    @include animation-timing-function(linear);
  }

  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0px;
    @include transition-delay(.5s);
    @include transition-duration(.2s);
    @include transition-property(width);
  }

  &.sending {
    pointer-events: none;
    cursor: not-allowed;
    &:not(.expand){
      text-align: left;
    }
    &:before {
      @include transition-delay(.2s);
      @include transition-duration(1s);
      @include opacity(1);
    }
    &:after {
      @include transition-delay(0s);
      width:20px;
    }
  }
}
a.loadinganimation:before {
  color: $nobel;
  right: 8px;
  width: 17px;
  height: 17px;
  top: 7px;
  border: 3px solid;
  border-left-color: transparent;
  border-radius: 50%;
}

i.loadinganimation:before {
  right: 0;
  width: 19px;
  height: 19px;
  top: 4px;
}
.in2publish-stagelisting__item--changed i.loadinganimation:before {
  color: $tundora;
}

// Animations
//**********************//
@mixin rotate {
  0%    { @include transform(rotate(0deg)); }
  100%  { @include transform(rotate(360deg)); }
}
@keyframes rotate { @include rotate; }
