.nav-pills-container {
  background: white;
  padding: 10px;
}

// TYPO3 Fix (to show var_dump() output)
div.typo3-fullDoc {
  height: auto;
}

// Hide text
.in2publish-hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.in2publish-clearfix {
  zoom: 1; // For IE 6/7 (trigger hasLayout)
  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: "";
    display: table;
  }
}

.in2publish-icon-small {
  &:before {
    font-size: 16px;
  }
}

.in2publish-unstyledlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

[data-action] {
  cursor: pointer;
}

.in2publish-inline-block {
  display: inline-block;
}

.in2publish-backend {
  font-size: 15px;
  color: $white;
  padding-top: 1em;

  h1,
  h2,
  h3,
  h4,
  legend {
    color: $white;
  }

  select {
    color: $tundora;
  }

  &-select {
    #typo3-docheader &.module-docheader-bar {
      overflow: initial;
    }
  }
}


.in2publish-backend *,
.in2publish-backend *:before,
.in2publish-backend *:after {
  @include box-sizing(border-box);

}

.in2publish-backend ul {
  margin: 0;
  padding: 0;
}

.in2publish-module > section {
  margin: 15px 0;

  > h3 {
    margin-bottom: 10px;
  }
}

.in2publish-module {
  background: $scorpion;
  margin: -48px -24px;
  padding-top: 24px;
  min-height: calc(100vh - 41px);
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 18px;
  font-size: inherit;
  line-height: inherit;
  color: currentColor;
  border-style: none;
}

label {
  font-weight: normal;
}

a.in2publish-notextdecoration {
  text-decoration: none;
}

.in2publish-main {
  margin-top: 40px;
  overflow: hidden;
}

.in2publish-container {
  overflow: hidden;
  margin: 0 0 30px;
}

.in2publish-container-50 {
  position: relative;
  width: 50%;
  float: left;
  text-align: center;

  img {
    width: 90px;
    height: auto;
  }
}

.in2publish-stagelisting__item__column {
  background-color: $dovegray;
  width: 50%;
  float: left;
  height: 30px;
  line-height: 30px;
  position: relative;
  top: 0;
  left: 0;

  a {
    color: $white;
  }

  .in2publish-stagelisting__item--added & {
    background-color: $forestgreen;

    .in2publish-icon-folder {
      @extend .icon-folder-plus;
    }

    .in2publish-icon-file {
      @extend .icon-file-add;
    }
  }

  .in2publish-stagelisting__item--deleted & {
    background-color: $appleblossom;

    .in2publish-icon-folder {
      @extend .icon-folder-minus;
    }

    .in2publish-icon-file {
      @extend .icon-file-broken;
    }

  }

  .in2publish-stagelisting__item--removed & {
    background-color: $black;

    .in2publish-icon-folder {
      @extend .icon-file-broken;
    }

    .in2publish-icon-file {
      @extend .icon-file-broken;
    }
  }

  .in2publish-stagelisting__item--moved-and-changed &,
  .in2publish-stagelisting__item--changed & {
    background-color: $goldentainoi;
    color: $scorpion;

    .in2publish-icon-folder {
      @extend .icon-folder-open;
    }

    .in2publish-icon-file {
      @extend .icon-file-settings;
    }

    a {
      color: $scorpion;
    }
  }

  .in2publish-stagelisting__item--moved & {
    background-color: $mariner;

    .in2publish-icon-folder {
      @extend .icon-folder-download;
    }
  }

}

// ----- Listlevel -----

@for $n from 1 through 5 {
  .in2publish-list-level--#{$n} {
    .in2publish-icon-info {
      right: 25px + (12 * $n);
    }

    .in2publish-link-publish {
      right: 12px * $n;
    }

    .in2publish-stagelisting__item__column--right {
      .in2publish-icon-folder {
        margin-left: 15px + (12 * $n);
      }
    }

  }
}

.in2publish-backend .in2publish-list-level {
  margin: 0 0 0 $listSpacer;

  > li {
    border-top: 1px solid $scorpion;
  }
}

// ----- Icon

// ----- start the dropdown -----

.in2publish-stagelisting__dropdown {
  overflow: hidden;
  background-color: $alto;
  color: $scorpion;
  border: 10px solid $dovegray;
  // word-break: break-all;

  &--open {
    //position: relative;
    //top: -8px;
    margin-bottom: 10px;
  }

  &--close {
    display: none;
  }

  &__item {
    width: 50%;
    float: left;
    line-height: 30px;
    padding: 0;

    &--full {
      width: 100%;
    }

    h3 {
      line-height: 30px;
    }
  }

  a {
    color: currentColor;
  }

  h3 {
    background-color: $scorpion;
    font-weight: normal;
    font-size: 1em;
    padding: 0 15px;
    margin-top: 0;
  }

  h4 {
    background-color: $dovegray;
    font-style: italic;
    padding: 3px 15px;
  }

  li {
    list-style-type: none;
    padding: 0 0 0 $leftSpacer;
    word-break: break-all;
  }

  span.in2publish-link-publish,
  [class^="in2publish-icon-"],
  [class*=" in2publish-icon-"] {
    padding: 0 10px 0 0;
  }

  .in2publish-stagelisting__item--added & {
    border-color: $forestgreen;
  }

  .in2publish-stagelisting__item--deleted & {
    border-color: $appleblossom;
  }

  .in2publish-stagelisting__item--changed & {
    border-color: $goldentainoi;
  }

  .in2publish-stagelisting__item--moved & {
    border-color: $mariner;
  }
}


.in2publish-backend .in2publish-stagelisting__dropdown__item__list > li {
  border-style: none;
  position: relative;
}

.in2publish-stagelisting__dropdown__actions {
  padding: 0 $leftSpacer;
  background-color: $silverchalice;
  color: $white;

  > a {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .in2publish-stagelisting__item--added & {
    background-color: $apple;
  }

  .in2publish-stagelisting__item--deleted & {
    background-color: $fuzzywuzzybrown;
  }

  .in2publish-stagelisting__item--changed & {
    background-color: $salomie;
    color: currentColor;
  }

  .in2publish-stagelisting__item--moved & {
    background-color: $pictonblue;
    color: $white;
  }
}

.in2publish-stagelisting__dropdown__page {
  background-color: $white;
}

.in2publish-backend {

  .in2publish-related {
    &__title {
      font-style: normal;
      line-height: 30px;
      padding: 0 15px;
      margin: 0;
      background-color: $salomie;
      color: $tundora;
    }

    &__list {
      margin: 12px 0 15px;

      li {
        font-size: 14px;
      }
    }
  }

  .in2publish-stagelisting__dropdown__item__list {
    margin-bottom: 12px;
  }
}

// ----- Footer -----
.in2publish-footer {
  margin: 20px 0;
  color: $silverchalice;
  font-size: 80%;

  .in2publish-logo {
    float: right;
    width: 160px;
    height: 48px;
  }
}

.in2publish-functions-bar {
  background-color: $dovegray;
  margin: 20px 0;
  text-align: center;
  position: relative;
  padding: 15px;
  min-height: 73px;
}

.in2publish-functions-bar__filter {
  position: absolute;
  right: 20px;
  top: 22px;

  i {
    &:before {
      font-size: 30px;
    }
  }

  .in2publish-functions-bar__filter__link {
    display: inline-block;
    margin: 0 0 0 10px;
    color: $white;

    &:hover {
      text-decoration: none;
    }
  }

  .in2publish-functions-bar--active {
    border-bottom: 2px solid $white;

    &.in2publish-icon-status-changed {
      border-color: $goldentainoi;
    }

    &.in2publish-icon-status-added {
      border-color: $apple;
    }

    &.in2publish-icon-status-deleted {
      border-color: $appleblossom;
    }

    &.in2publish-icon-status-moved {
      border-color: $pictonblue;
    }
  }
}

div#typo3-docbody.stopScrolling {
  transform: none;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.in2publish-removevalue:before {
  right: 4px;
  bottom: 4px;
}

// Old pagination style

.pagination .t3-icon {
  margin: 0
}

.pagination .paginator-input {
  display: inline-block;
  width: auto;
  margin: -6px 0;
  height: 26px;
  padding: 4px 4px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 2px;
}

.pagination-block {
  display: block
}


.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 18px 0;
  border-radius: 2px
}

.pagination > li {
  display: inline
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 6px;
  margin-left: -1px;
  line-height: 1.5;
  color: #212424;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  z-index: 2;
  color: #000;
  background-color: #f5f5f5;
  border-color: #ddd
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #0078e6;
  border-color: #0078e6
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
  color: #d7d7d7;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd
}

.pagination-lg > li > a, .pagination-lg > li > span {
  padding: 12px 12px;
  font-size: 15px;
  line-height: 1.3333333
}

.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px
}

.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px
}

.pagination-sm > li > a, .pagination-sm > li > span {
  padding: 4px 4px;
  font-size: 11px;
  line-height: 1.5
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px
}

.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px
}

.tx_in2publishcore_admintools {
  .card-body {
    .extbase-debugger {
      margin: 0;
    }
  }
  // Fix buttons in admin tools module
  .module-docheader-bar-buttons {
    .btn-toolbar {
      .btn-group {
        flex-wrap: wrap;
      }
    }
  }
}




.in2publish-state-icon {
  &:before {
    font-size: 6px;
    margin-bottom: 2px;
    display: inline-block;
    vertical-align: middle;
    height: 12px;
    line-height: 12px;
  }
}

.in2publish-state {
  &--unchanged {
    color: $nobel;
  }

  &--changed {
    color: $goldentainoi;
  }

  &--moved-and-changed {
    color: $goldentainoi;
  }

  &--added {
    color: $apple;
  }

  &--deleted {
    color: $appleblossom;
  }

  &--moved {
    color: $pictonblue;
  }
}

.badge.in2publish-badge {
  &--unchanged {
    color: #000;
    background-color: $nobel;
    color: white;
  }

  &--changed {
    background-color: $goldentainoi;
    color: black;
  }

  &--moved-and-changed {
    background-color: $goldentainoi;
    color: black;
  }

  &--added {
    background-color: $apple;
    color: white;
  }

  &--deleted {
    background-color: $appleblossom;
    color: white;
  }

  &--moved {
    background-color: $pictonblue;
  }
}


.in2publish-stagelisting__item {
  &--deleted {
    .in2publish-stagelisting__item-filename {
      color: $appleblossom;
    }
  }
}

.in2publish-icon-toggle {
  $this: &;

  &__on {
    display: none;
  }

  &__off {
    display: initial;
  }

  &--active {
    #{$this}__on {
      display: initial;
    }

    #{$this}__off {
      display: none;
    }
  }
}

.in2publish-table {
  .col-filename {
    width: 50%;
  }
}

.in2publish_core_m1 {
  .module-docheader-bar-column-left {
    .form-group {
      display: flex;
      .form-select {
        margin-left: 1em;
      }
    }
  }
}
