.nav-pills-container {
  background: white;
  padding: 10px;
}

// TYPO3 Fix (to show var_dump() output)
div.typo3-fullDoc {
  height: auto;
}

// Hide text
.in2publish-hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.in2publish-clearfix {
  zoom: 1; // For IE 6/7 (trigger hasLayout)
  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: "";
    display: table;
  }
}

.in2publish-icon-small {
  &:before {
    font-size: 16px;
  }
}

.in2publish-unstyledlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

[data-action] {
  cursor: pointer;
}

.in2publish-inline-block {
  display: inline-block;
}

.in2publish-backend {
  font-size: 15px;
  color: $white;

  h1,
  h2,
  h3,
  h4,
  legend {
    color: $white;
  }

  select {
    color: $tundora;
  }

  &-select {
    #typo3-docheader &.module-docheader-bar {
      overflow: initial;
    }
  }
}


.in2publish-backend *,
.in2publish-backend *:before,
.in2publish-backend *:after {
  @include box-sizing(border-box);

}

.in2publish-backend ul {
  margin: 0;
  padding: 0;
}

.in2publish-module > section {
  margin: 15px 0;

  > h3 {
    margin-bottom: 10px;
  }
}

.in2publish-module {
  background: $scorpion;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 18px;
  font-size: inherit;
  line-height: inherit;
  color: currentColor;
  border-style: none;
}

label {
  font-weight: normal;
}

a.in2publish-notextdecoration {
  text-decoration: none;
}

.in2publish-main {
  margin-top: 40px;
  overflow: hidden;
}

.in2publish-container {
  overflow: hidden;
  margin: 0 0 30px;
}

.in2publish-container-50 {
  position: relative;
  width: 50%;
  float: left;
  text-align: center;

  img {
    width: 90px;
    height: auto;
  }
}

.in2publish-stagelisting__item__column {
  background-color: $dovegray;
  width: 50%;
  float: left;
  height: 30px;
  line-height: 30px;
  position: relative;
  top: 0;
  left: 0;

  a {
    color: $white;
  }

  .in2publish-stagelisting__item--added & {
    background-color: $forestgreen;

    .in2publish-icon-folder {
      @extend .icon-folder-plus;
    }

    .in2publish-icon-file {
      @extend .icon-file-add;
    }
  }

  .in2publish-stagelisting__item--deleted & {
    background-color: $appleblossom;

    .in2publish-icon-folder {
      @extend .icon-folder-minus;
    }

    .in2publish-icon-file {
      @extend .icon-file-broken;
    }

  }

  .in2publish-stagelisting__item--removed & {
    background-color: $black;

    .in2publish-icon-folder {
      @extend .icon-file-broken;
    }

    .in2publish-icon-file {
      @extend .icon-file-broken;
    }
  }

  .in2publish-stagelisting__item--moved-and-changed &,
  .in2publish-stagelisting__item--changed & {
    background-color: $goldentainoi;
    color: $scorpion;

    .in2publish-icon-folder {
      @extend .icon-folder-open;
    }

    .in2publish-icon-file {
      @extend .icon-file-settings;
    }

    a {
      color: $scorpion;
    }
  }

  .in2publish-stagelisting__item--moved & {
    background-color: $mariner;

    .in2publish-icon-folder {
      @extend .icon-folder-download;
    }
  }

}

// ----- Listlevel -----

@for $n from 1 through 5 {
  .in2publish-list-level--#{$n} {
    .in2publish-icon-info {
      right: 25px + (12 * $n);
    }

    .in2publish-link-publish {
      right: 12px * $n;
    }

    .in2publish-stagelisting__item__column--right {
      .in2publish-icon-folder {
        margin-left: 15px + (12 * $n);
      }
    }

  }
}

.in2publish-backend .in2publish-list-level {
  margin: 0 0 0 $listSpacer;

  > li {
    border-top: 1px solid $scorpion;
  }
}

// ----- Icon

// ----- start the dropdown -----

.in2publish-stagelisting__dropdown {
  display: none;
  overflow: hidden;
  background-color: $alto;
  color: $scorpion;
  border: 10px solid $dovegray;
  // word-break: break-all;

  a {
    color: currentColor;
  }

  h3 {
    background-color: $scorpion;
    font-weight: normal;
    font-size: 1em;
    padding: 0 15px;
    margin-top: 0;
  }

  h4 {
    background-color: $dovegray;
    font-style: italic;
    padding: 3px 15px;
  }

  li {
    list-style-type: none;
    padding: 0 0 0 $leftSpacer;
    word-break: break-all;
  }

  [class^="in2publish-icon-"],
  [class*=" in2publish-icon-"] {
    padding: 0 10px 0 0;
  }

  .in2publish-stagelisting__item--added & {
    border-color: $forestgreen;
  }

  .in2publish-stagelisting__item--deleted & {
    border-color: $appleblossom;
  }

  .in2publish-stagelisting__item--changed & {
    border-color: $goldentainoi;
  }

  .in2publish-stagelisting__item--moved & {
    border-color: $mariner;
  }

}

.in2publish-stagelisting__dropdown--open {
  //position: relative;
  //top: -8px;
  margin-bottom: 10px;
}

.in2publish-stagelisting__dropdown__item {
  width: 50%;
  float: left;
  line-height: 30px;
  padding: 0;

  &--full {
    width: 100%;
  }

  h3 {
    line-height: 30px;
  }
}

.in2publish-backend .in2publish-stagelisting__dropdown__item__list > li {
  border-style: none;
  position: relative;
}

.in2publish-stagelisting__dropdown__actions {
  padding: 0 $leftSpacer;
  background-color: $silverchalice;
  color: $white;

  > a {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .in2publish-stagelisting__item--added & {
    background-color: $apple;
  }

  .in2publish-stagelisting__item--deleted & {
    background-color: $fuzzywuzzybrown;
  }

  .in2publish-stagelisting__item--changed & {
    background-color: $salomie;
    color: currentColor;
  }

  .in2publish-stagelisting__item--moved & {
    background-color: $pictonblue;
    color: $white;
  }
}

.in2publish-stagelisting__dropdown__page {
  background-color: $white;
}

.in2publish-backend {

  .in2publish-related {
    &__title {
      font-style: normal;
      line-height: 30px;
      padding: 0 15px;
      margin: 0;
      background-color: $salomie;
      color: $tundora;
    }

    &__list {
      margin: 12px 0 15px;

      li {
        font-size: 14px;
      }
    }
  }

  .in2publish-stagelisting__dropdown__item__list {
    margin-bottom: 12px;
  }
}

// ----- Footer -----
.in2publish-footer {
  margin: 20px 0;
  color: $silverchalice;
  font-size: 80%;

  .in2publish-logo {
    float: right;
    width: 160px;
    height: 48px;
  }
}

.in2publish-functions-bar {
  background-color: $dovegray;
  margin: 20px 0;
  text-align: center;
  position: relative;
  padding: 15px;
  min-height: 73px;
}

.in2publish-functions-bar__filter {
  position: absolute;
  right: 20px;
  top: 22px;

  i {
    &:before {
      font-size: 30px;
    }
  }

  .in2publish-functions-bar__filter__link {
    display: inline-block;
    margin: 0 0 0 10px;
    color: $white;

    &:hover {
      text-decoration: none;
    }
  }

  .in2publish-functions-bar--active {
    border-bottom: 2px solid $white;

    &.in2publish-icon-status-changed {
      border-color: $goldentainoi;
    }

    &.in2publish-icon-status-added {
      border-color: $apple;
    }

    &.in2publish-icon-status-deleted {
      border-color: $appleblossom;
    }

    &.in2publish-icon-status-moved {
      border-color: $pictonblue;
    }
  }
}

.in2publish-preloader {
  background-color: $scorpion;
  height: 100%;
  position: fixed;
  z-index: 100000;
  text-align: center;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.in2publish-preloader--hidden {
  display: none;
}

.in2publish-preloader--spinner {
  position: relative;
  top: 30%;
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;

  > div {
    background-color: $white;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }

  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

div#typo3-docbody.stopScrolling {
  transform: none;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.in2publish-removevalue:before {
  right: 4px;
  bottom: 4px;
}
