#typo3-docheader .in2publish-pagemodule__select {
  margin-right: $pagemodule-select-margin;

  &:last-child {
    margin-right: 0;
  }

  &.disabled {
    color: $silverchalice;
  }
}

.in2publish__workflow1 {
  @include stripes($apple, $white, 0.2);
}

.in2publish__workflow2 {
  @include stripes($salomie, $tundora);
}

@for $n from 3 through 8 {
  .in2publish__workflow#{$n} {
    @include stripes($mariner, $white);
  }
}

#typo3-docheader .right {
  text-align: right;
  * {
    text-align: left;
  }
}

.in2publish_pagestate_messagebox {
  position: absolute;
  z-index: 555;
  background-color: $whitesmoke;
  color: $black;
  line-height: 18px;
  border: 1px solid $verylightgrey;
  max-height: 300px;
  overflow-y: scroll;
  border-top: transparent;
  padding: 10px;
  right: 0;
  width: 470px;
  top: 27px;
  textarea {
    resize: none;
    display: block;
    width: 448px;
    height: 160px;
    padding: 6px;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
}

.in2publish-btn {
  display: inline-block;
  color: $nightrider;
  padding: 4px 4px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 2px;
  background-color: $whitesmoke;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid #bbbbbb;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    background-color: $lightgrey;
    border-color: $nobel;
  }
}

#typo3-docheader a.in2publish_pagestate_message-toggle {
  background-image: url("../Images/message.svg");
  background-repeat: no-repeat;
  color: transparent;
  width: 25px;
  display: inline-block;
  line-height: 20px;
}

#typo3-docheader .in2publish__workflow1 a.in2publish_pagestate_message-toggle,
#typo3-docheader .in2publish__workflow3 a.in2publish_pagestate_message-toggle {
  background-image: url("../Images/message_white.svg");
}

.hidden {
  display: none;
}

.in2publish-icon-small {
  &:before {
    font-size: 16px;
  }
}

.icon-arrow-right:before {
  content: "\ea34";
}

.in2publish-icon-publish {
  position: relative;
  right: 0;
  top: 1px;
  cursor: pointer;

  @extend .icon-arrow-right;
  @extend .in2publish-icon-small;

  &.in2publish__publish--blocked {
    right: 1px;
    cursor: not-allowed;
    &:before {
      content: "\e60a";
    }
  }
}

.in2publish__workflowcontainer legend {
  margin: 10px 0;
}

.in2publish__workflowcontainer__field__message {
  line-height: 130%;
  min-height: 70px;
}

.in2publish__workflowcontainer__field {
  position: relative;
}

.in2publish__workflowcontainer__lightbox {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: none;
}

.in2publish-t3-version-6_2 {
  table {
    .in2publish__workflowbutton {
      min-width: 150px;
      &:before {
        right: auto;
        left: 122px;
      }
    }
  }
}
