#typo3-docheader .in2publish-pagemodule__select {
  margin-right: $pagemodule-select-margin;

  &:last-child {
    margin-right: 0;
  }

  &.disabled {
    color: $silverchalice;
  }
}

#typo3-docheader .right {
  text-align: right;
  * {
    text-align: left;
  }
}

.in2publish-btn {
  display: inline-block;
  color: $nightrider;
  padding: 4px 4px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 2px;
  background-color: $whitesmoke;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid #bbbbbb;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    background-color: $lightgrey;
    border-color: $nobel;
  }
}

.hidden {
  display: none;
}

.in2publish-icon-small {
  &:before {
    font-size: 16px;
  }
}

.icon-arrow-right:before {
  content: "\ea34";
}

.in2publish-icon-publish {
  position: relative;
  right: 0;
  top: 1px;
  cursor: pointer;

  @extend .icon-arrow-right;
  @extend .in2publish-icon-small;

  &.in2publish__publish--blocked {
    right: 1px;
    cursor: not-allowed;
    &:before {
      content: "\e60a";
    }
  }
}
