$defaultFontSize: 15px;
$defaultIconFontSize: 20px;
$largeIconFontSize: 30px;

$leftSpacer: 15px;
$listSpacer: 25px;

$workflowcontainer-width: 480px;
$workflowcontainer-left-margin: $workflowcontainer-width / 2 * -1;
$workflowcontainer-padding: 10px;
$workflowcontainer-borderwidth: 2px;

$pagemodule-select-margin: 3px;


$white : #FFFFFF;
$lightsmoke: #EBEBEB;
$whitesmoke: #EEEEEE;
$alto: #DBDBDB;
$lightgrey: #D5D5D5;
$whitegrey: #D7D7D7;
$verylightgrey: #CDCDCD;
$silver: #B7B7B7;
$silverchalice: #A0A0A0;
$nobel: #9C9C9C;
$dovegray: #666666;
$scorpion: #585858;
$tundora: #444444;
$nightrider: #333333;
$black: #000000;

$appleblossom: #A94442;
$fuzzywuzzybrown: #C15955;
$forestgreen: #3B7826;
$apple: #5D9A46;
$goldentainoi: #FFCA4B;
$salomie: #FFDB88;
$mariner: #425ea1;
$pictonblue: #557AD1;
