// Message Container
.in2publish__messagelist {
  padding-left: 0;
  margin: 0;
  list-style: none;

  &__message {
    margin: 10px 0 5px;
  }
}

.in2publish__messagelistitem {
  padding: 10px;
  background-color: $silver;
  color: $tundora;
  line-height: 1.3;
  p {
    margin: 0;
  }

  &:nth-child(2n) {
    background-color: $verylightgrey;
  }
}


.in2publish-backend {
  .in2publish__messagelistitem {
    padding: 10px;
  }

  .in2publish__messagelist__message {
    margin: 10px 0 5px;
  }
}


.in2publish__messagelist__date {
  padding-right: 10px;
  white-space: nowrap;
}

.in2publish__messagelist__itemcontainer {
  padding-bottom: 10px;
}

.in2publish__messagelist__item__username {
  margin-right: 10px;
}

.in2publish__messagelist__item__statearrow {
  @extend .icon-arrow-right;
  &:before {
    font-size: 10px;
    color: $silverchalice;
    vertical-align: 1px;
  }
}

// Workflow Button
.in2publish__workflowbutton {
  display: inline-block;
  float: right;
  text-align: left;
  margin: 2px 0 0 10px;

  &:before {
    display: none;
  }

  &--scheduledpublish {
    &:before {
      color: $fuzzywuzzybrown;
      font-size: 11px;
      position: absolute;
      bottom: 0;
      right: 1px;
      text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
      display: block;
      z-index: 1;
    }
  }

  .in2publish__messagelist__item__stateicon {
    margin-right: 5px;
  }

  > .in2publish__workflowbutton__primary,
  > .in2publish__workflowbutton__secondary {
    background-color: $scorpion;
    cursor: pointer;
    color: $lightgrey;
    border: 1px solid $silverchalice;
    padding: 4px 10px 3px 10px;
  }

  > .in2publish__workflowbutton__secondary {
    @extend .icon-arrow-right;
    width: 25px;
    border-left: 0;
    &:before {
      font-size: 13px;
    }
    &:hover {
      text-decoration: none !important;
    }
  }
}

// Workflow Container
.in2publish__workflowcontainer {
  box-sizing: border-box;
  display: none;
  width: $workflowcontainer-width;
  background-color: $scorpion;
  border: $workflowcontainer-borderwidth solid $lightgrey;
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 20%;
  margin-left: $workflowcontainer-left-margin;
  color: $alto;
  padding: $workflowcontainer-padding;

  h1,
  h2,
  h3,
  h4,
  h5,
  legend {
    color: $alto;
  }

  fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }

  legend {
    font-size: 14px;
    font-weight: bold;
    border-width: 0;
  }

  input,
  textarea,
  select:not(.pika-select) {
    box-sizing: border-box;
    width: 100%;
    color: $scorpion;
    line-height: normal;
    padding: 10px;
    display: block;
  }

  .in2publish__workflowcontainer__messagelistfieldset {
    margin: 5px 0 0 0;
    border-top: 1px solid $alto;
  }

  &__message {
    margin-top: 10px;
  }

  &__field {

    margin: 0 0 0.5em 0;

    &--scrollable {
      max-height: 30vh;
      overflow: auto;
    }

    &--select {
      padding-left: 80px !important;
      position: relative;
      top: 0;
      left: 0;
      overflow: hidden;

      input {
        display: none;
      }

      label {
        display: block;
        cursor: pointer;
        line-height: 30px;

        @extend .icon-circle-o;

        &:before {
          margin-right: 10px;
          font-size: 24px;
          position: relative;
          top: 4px;
        }

        &:hover {
          transition: all 300ms linear;

          &:before {
            @extend .icon-circle;
          }
        }
      }

      input:checked + label {
        color: white;
        @extend .icon-circle;
      }

      input:disabled + label:hover:before {
        @extend .icon-circle-o;
      }

      input:checked:disabled + label:hover:before {
        @extend .icon-circle
      }
    }
  }

  &__selectimg {
    position: absolute;
    left: 20px;
    bottom: 0;
  }

  &__selectarrow {
    fill: $silverchalice;
  }

  &__timer {
    @extend .icon-clock2;
    padding-left: 20px !important;

    &:before {
      color: $fuzzywuzzybrown;
      font-size: 12px;
      position: absolute;
      left: 0;
      top: 5px;
    }
  }

  &__submit {
    text-align: center !important;
    font-weight: bold;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid $whitesmoke;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    background-color: $nobel !important;
    color: $whitesmoke !important;
    line-height: 26px;
  }
}

.in2publish-removevalue {
  @extend .icon-x-altx-alt;
  cursor: pointer;

  &:before {
    color: $silverchalice;
    font-size: 16px;
    bottom: 12px;
    right: 11px;
    position: absolute;
  }
}

.in2publish__workflowcontainer__button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  &:hover {
    &:after, &:before {
      background-color: $lightgrey;
    }
  }

  &:after, &:before {
    position: absolute;
    top: 0;
    content: "";
    height: 20px;
    width: 6px;
    background-color: $silverchalice;
    border-radius: 3px;
    display: block;
  }
  &:after {
    transform: rotate(45deg);
  }
  &:before{
    transform: rotate(-45deg);
  }
  // specifically overrule TYPO3 6.2 default button CSS
  &:active {
    position: absolute ;
    top: 10px ;
  }
}

// WORKFLOW STATES

.in2publish__messagelist__item__stateicon {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: $silverchalice;
  display: inline-block;
  &.in2publish__messagelist__item__stateicon1 {
    background-color: $apple;
  }
  &.in2publish__messagelist__item__stateicon2 {
    background-color: $salomie;
  }
  &.in2publish__messagelist__item__stateicon3 {
    background-color: $mariner;
  }
}


.in2publish-pagemodule__select {
  &--key1:before {
    color: $apple;
  }

  &--key2:before {
    color: $salomie;
  }

  &--key3:before {
    color: $mariner;
  }

  &--disallowedstate {
    cursor: not-allowed !important;
    opacity: 0.5;
  }
}

// WORKFLOW STATE ASSIGNMENT

.in2publish-workflowstateassignment {
  background-color: $dovegray;
  border: 10px solid $dovegray;
  textarea {
    color: $scorpion;
    width: 100%;
  }
}
