@import "compass";
@import "Settings";

.in2publish-loading-overlay {
  background-color: $scorpion;
  height: 100%;
  position: fixed;
  z-index: 100000;
  text-align: center;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(0);
}

.in2publish-loading-overlay--hidden {
  display: none;
}

.in2publish-loading-overlay--spinner {
  position: relative;
  top: 30%;
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;

  > div {
    background-color: $white;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }

  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

body:has(.in2publish-loading-overlay--active) > *:not(.in2publish-loading-overlay) {
  filter: blur(3px);
}
