#
#    Example Configuration for in2publish
#

---

# Database access
foreign:

  # root path of the foreign TYPO3 CMS instance
  rootPath: /Users/simpleAccount/Projects/Websites/foreign.publishing.dev

  # path to php binary
  pathToPhp: /usr/bin/env php

  # TYPO3_CONTEXT environment variable to preprend to remote CLI calls
  context: Production

  # Set your production systems database credentials here. If you use port forwarding to
  # the server where the database is installed, the host is 127.0.0.1 and the port is your forwarded port.
  database:

    # name of the foreign database
    name: 'database_123'

    # name of the foreign mysql user
    username: 'username_123'

    # password of the foreign user above
    password: 'Password_123'

    # hostname of the database to connect to.
    hostname: '127.0.0.1'

    # default: 3306
    port: 3306


# Exclude tables from publishing
excludeRelatedTables:
  - be_groups
  - be_users
  - sys_domain
  - sys_history
  - sys_log
  #- sys_note
  - tx_extensionmanager_domain_model_extension
  - tx_extensionmanager_domain_model_repository
  #- tx_rsaauth_keys
  - cache_treelist
  - tx_in2publishcore_log
  - tx_in2code_in2publish_task
  - tx_in2code_in2publish_envelope
  # Added dynamically if realurl is installed
  - tx_realurl_pathdata
  - tx_realurl_uniqalias
  - tx_realurl_urldata


# Ignore this fields for DIFF view
ignoreFieldsForDifferenceView:
  pages:
    - pid
    - uid
    - t3ver_oid
    - t3ver_id
    - t3ver_wsid
    - t3ver_label
    - t3ver_state
    - t3ver_stage
    - t3ver_count
    - t3ver_tstamp
    - t3ver_move_id
    - t3_origuid
    - tstamp
    - sorting
    - perms_userid
    - perms_groupid
    - perms_user
    - perms_group
    - perms_everybody
    - crdate
    - cruser_id
    - SYS_LASTCHANGED
  physical_folder:
    - absolutePath
    - ino
    - mode
    - nlink
    - uid
    - gid
    - rdev
    - size
    - atime
    - mtime
    - ctime
    - blksize
    - blocks
  sys_file:
    - modification_date
    - creation_date
    - tstamp
    - last_indexed


# factory settings (configuration about building relations in in2publish)
factory:

  # [Performance]
  # depth of pages to fetch in hierarchy
  maximumPageRecursion: 2

  # maximum number of relations in one chain
  maximumContentRecursion: 6

  # maximum number of instance creation recursion.
  # Minimum: maximumPageRecursion + maximumContentRecursion. Will be ignored if lower.
  maximumOverallRecursion: 8

  # Resolve properties of records (and pages) which target records from "pages" table
  # Use with care: Related pages will be published through the relation chain, too
  resolvePageRelations: FALSE

  # [Performance] [BETA]
  # Overview output will be build mainly from information of the local system. Status will be guessed by simple queries.
  # Details are available through an AJAX request and comparison with the foreign system.
  # Warning: Overview does not include everything (e.g. file records) and is not as robust as on default mode
  simpleOverviewAndAjax: FALSE

  # THIS OPTION COMES WITHOUT ANY WARRANTY. USE AT YOUR OWN RISK.
  #
  # Set to TRUE to directly connect file relations to the page through the PID. This makes it impossible to control
  # publishing of content by the content element because the file reference will be published directly after the page
  # and not have the content element as its parent.
  # Also it is technically inaccurate, unexpected and might result in undocumented behaviour.
  # This option will include file references which would not be resolved because you are using non-compatible extensions
  # based on user functions like DCE or fluidcontent.
  includeSysFileReference: FALSE

  # FAL related settings
  fal:

    # Set this to FALSE if you take care of the auto_increment yourself (e.g. when having FAL uploads in the
    # foreign frontend. If set to TRUE it will enable the auto_increment synchronization whenever
    # the publish files module was opened.
    # This enabled by default because it will lead to problems if you did not set the auto_increment to a high value
    # before disabling this option.
    #
    # It is recommended to not disable it if you are rather sure that there are no file uploads on live.
    # If you have uploads on live (which you should not) you must enable this or you will get problems with file references.
    reserveSysFileUids: TRUE

    # Requires: reserveSysFileUids: TRUE
    #
    # This setting will enable a sys_file lookup based on the file identifier of files which were found in the storage
    # but not in the database. (Database files are found by their folder hash)
    reclaimSysFileEntries: FALSE

    # Requires: reserveSysFileUids: TRUE
    #
    # Only in combination with factory.fal.reclaimSysFileEntries enabled.
    # While reclaimSysFileEntries is consuming some additional performance this setting autoRepairFolderHash
    # will automatically repair database entries and increase relation consistency
    #
    # WARNING: This feature changes sys_file entries on live without opt-in or asking for permission.
    #   There is no preview of the changes which are going to be made.
    #   Changes are persisted immediately before the publish file module is rendered.
    autoRepairFolderHash: FALSE

    # Requires: reserveSysFileUids: TRUE
    #
    # [BETA]
    #
    # It is possible for sys_file records to have different UIDs on local and foreign while referencing the same file
    # due to the indexing behaviour of FAL. If this setting is set to FALSE you might see duplicate file entries in the
    # publish files module. Enable this feature to merge the sys_files by identifier before showing them.
    #
    # WARNING: This feature will overwrite the UID of the foreign sys_file record if there are no references in the
    #   table sys_file_reference. No other table or relation will be checked.
    #   This feature changes sys_file_reference entries on live without opt-in or asking for permission.
    #   There is no preview of the changes which are going to be made.
    #   Changes are persisted immediately before the publish file module is rendered.
    #
    # IMPORTANT: If the UID of the foreign sys_file entry is already used in sys_file_reference this feature will not
    #   overwrite the foreign UID to prevent severe damage or missing images on the foreign's frontend.
    #   Hence it's mostly worth the risk and relatively stable.
    mergeSysFileByIdentifier: FALSE

    # Requires: reserveSysFileUids: TRUE
    #
    # [BETA]
    #
    # CAUTION: This feature disables the integrity check of the mergeSysFileByIdentifier feature. USE WITH CARE!
    #
    # DISCLAIMER:
    #   This feature is distributed WITHOUT ANY WARRANTY;
    #   without even the implied warranty of merchantability or fitness for a particular purpose.
    #
    # Disables the mergeSysFileByIdentifier integrity protection to allow you to update a sys_file's UID on foreign
    # along with all associated sys_file_reference entries.
    #
    # WARNING: This feature changes sys_file_reference entries on live without opt-in or asking for permission.
    #   There is no preview of the changes which are going to be made.
    #   Changes are persisted immediately before the publish file module is rendered.
    enableSysFileReferenceUpdate: FALSE


# Set domain names for file preview without leading protocol (e.g. www.domain.org)
filePreviewDomainName:
  local: stage.publishing.localhost.de
  foreign: prod.publishing.localhost.de


# Manipulate view
view:
  # Backend module Publish records
  records:
    # Activate Filter buttons
    filterButtons: TRUE

    # show record connection to root record as breadcrumb in overview module. Applies only when debug.allInformation = FALSE.
    breadcrumb: FALSE

  # Backend module Publish files
  files:
    # Activate Filter buttons
    filterButtons: TRUE

  # publish module use as title field (for pages) you can set this f.e. to nav_title
  titleField: title


# SSH and transfer settings for foreign ssh connection (file and commands)
sshConnection:

  # Hostname of the foreign server for SSH connection
  host: production.domain.tld

  # Default: 22, change if necessary
  port: 22

  # username of user on the foreign server
  username: simpleAccount

  # absolute path to local ssh key (rsa/dsa/..)
  privateKeyFileAndPathName: /full/path/to/private/ssh/key/id_rsa

  # absolute path to local ssh key belonging to the private above
  publicKeyFileAndPathName: /full/path/to/public/ssh/key/id_rsa.pub

  # private key password, empty string if none set
  privateKeyPassphrase: ''

  # Key fingerprint of the production server for additional authentication check. If this fingerprint does not match in2publish will refuse the connection.
  # You don't need to keep the colons
  foreignKeyFingerprint: 00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00

  # Method modification: one of SSH2_FINGERPRINT_MD5 or SSH2_FINGERPRINT_SHA1
  foreignKeyFingerprintHashingMethod: SSH2_FINGERPRINT_MD5

  # ignore if chmod fails. prevents exception
  ignoreChmodFail: FALSE


# module settings
module:
  # Enable/Disable Publishing overview module
  m1: TRUE

  # Enable/Disable File Publishing module
  m3: TRUE

  # Enable/Disable Function Publishing module
  m4: TRUE


# Debug settings
debug:

  # if set to TRUE, parentRecord will not be set for records
  disableParentRecords: FALSE

  # Show foreign key fingerprint instead of throwing an exception.
  showForeignKeyFingerprint: FALSE

  # Show depth of records in publishing view.
  showRecordDepth: FALSE

  # show execution time in backend modules in footer
  showExecutionTime: TRUE

  # show all information in publishing overview module (which records are related to the current page)
  allInformation: FALSE

  # Do not delete Envelope entries after they fulfilled their purpose
  keepEnvelopes: FALSE


# Configuration for tasks
tasks:

  # Task name
  realUrl:

    # Exclude pages with these dokTypes from realUrl generation.
    excludedDokTypes: [254]

    # Create a web request for the published page.
    requestFrontend: FALSE


# Backup configuration
backup:

  # Backup settings for table publishing
  publishTableCommand:

    # The number of backups to keep. 0 : no backups are made; 1 : one backup, keep none;
    # greater than 1: keep the specified number of backups
    keepBackups: 2

    # Specify the location where table backups should be stored (absolute & writable).
    backupLocation: /Users/simpleAccount/Projects/Websites/foreign.publishing.dev_Backups

    # Adds a "DROP TABLE {tablename} IF EXISTS" statement to the backup.
    addDropTable: TRUE

    # If TRUE, backups of tables will be stored in ZIP files instead of plain sql file.
    # saves a lot of disc space.
    zipBackup: TRUE

# TCA processing settings
tca:

  # TCA processors decide if parts of the TCA are suitable to resolve relations
  processor:
    check: 'In2code\In2publishCore\Domain\Service\Processor\CheckProcessor'
    flex: 'In2code\In2publishCore\Domain\Service\Processor\FlexProcessor'
    group: 'In2code\In2publishCore\Domain\Service\Processor\GroupProcessor'
    inline: 'In2code\In2publishCore\Domain\Service\Processor\InlineProcessor'
    input: 'In2code\In2publishCore\Domain\Service\Processor\InputProcessor'
    none: 'In2code\In2publishCore\Domain\Service\Processor\NoneProcessor'
    passthrough: 'In2code\In2publishCore\Domain\Service\Processor\PassthroughProcessor'
    radio: 'In2code\In2publishCore\Domain\Service\Processor\RadioProcessor'
    select: 'In2code\In2publishCore\Domain\Service\Processor\SelectProcessor'
    text: 'In2code\In2publishCore\Domain\Service\Processor\TextProcessor'
    user: 'In2code\In2publishCore\Domain\Service\Processor\UserProcessor'
    imageManipulation: 'In2code\In2publishCore\Domain\Service\Processor\ImageManipulationProcessor'
