#
#    Example Configuration for in2publish on local
#
#    Fields annotated with "@user" can be overridden using PageTS or UserTS
#

---

# PHP & Database settings on foreign server (for SSH access see "sshConnection")
foreign:

  # root path of the foreign TYPO3 CMS instance
  rootPath: /var/www/html/public

  # path of the var folder of the foreign TYPO3 CMS instance
  varPath: /var/www/html/var

  # path to php binary
  pathToPhp: /usr/bin/env php

  # TYPO3_CONTEXT environment variable to preprend to remote CLI calls
  context: Production

  # OPTIONAL. This value is detected automatically. Configuration only required when automatic detection fails to
  # identify the dispatcher location correctly. Enter the relative path from the document root to the dispatcher.
  dispatcher:

  # Additional environment variables to set before executing a remote cli command. The keys are the variable names
  envVars: [ ]
    # MY_VAR: myValue
  # MY_ENV:

  # Set your production systems database credentials here. If you use port forwarding to
  # the server where the database is installed, the host is 127.0.0.1 and the port is your forwarded port.
  database:

    # name of the foreign database. Set value in env var FOREIGN_DB_NAME or directly here.
    name: '%env(FOREIGN_DB_NAME)%'

    # name of the foreign mysql user. Set value in env var FOREIGN_DB_USER or directly here.
    username: '%env(FOREIGN_DB_USER)%'

    # password of the foreign user above. Set value in env var FOREIGN_DB_PASS or directly here.
    password: '%env(FOREIGN_DB_PASS)%'

    # hostname of the database to connect to. Set value in env var FOREIGN_DB_HOST or directly here.
    hostname: '%env(FOREIGN_DB_HOST)%'

    # default: 3306. Set value in env var FOREIGN_DB_PORT or directly here.
    port: '%env(FOREIGN_DB_PORT)%'


# Exclude tables from publishing
excludeRelatedTables:
  - be_groups
  - be_users
  - sys_history
  - sys_log
  - tx_extensionmanager_domain_model_extension
  - cache_treelist
  - tx_in2publishcore_log
  - tx_in2code_in2publish_task
  - tx_in2code_in2publish_envelope


# Ignore these fields for difference view (Publish Overview, Record Comparison).
# Records which only have changes in ignored fields will not be shown as changed and not be published.
ignoredFields:
  '.*':
    ctrl:
      - tstamp
      - versioningWS
      - transOrigDiffSourceField
  pages:
    fields:
      - perms_userid
      - perms_groupid
      - perms_user
      - perms_group
      - perms_everybody
      - SYS_LASTCHANGED
  sys_redirect:
    fields:
      - source_host
      - hitcount
      - lasthiton
  sys_file:
    fields:
      - last_indexed

# factory settings (configuration about building relations in in2publish)
factory:
  # [Performance]
  # depth of pages to fetch in hierarchy
  # @user
  maximumPageRecursion: 2

  # maximum number of relations in one chain
  # @user
  maximumContentRecursion: 6

  # maximum number of instance creation recursion.
  # Minimum: maximumPageRecursion + maximumContentRecursion. Will be ignored if lower.
  # @user
  maximumOverallRecursion: 8

  # Resolve properties of records (and pages) which target records from "pages" table
  # Use with care: Related pages will be published through the relation chain, too
  resolvePageRelations: FALSE

  # THIS OPTION COMES WITHOUT ANY WARRANTY. USE AT YOUR OWN RISK.
  #
  # Set to TRUE to directly connect file relations to the page through the PID. This makes it impossible to control
  # publishing of content by the content element because the file reference will be published directly after the page
  # and not have the content element as its parent.
  # Also it is technically inaccurate, unexpected and might result in undocumented behaviour.
  # This option will include file references which would not be resolved because you are using non-compatible extensions
  # based on user functions like DCE or fluidcontent.
  includeSysFileReference: FALSE

  # Enable to show records which are deleted on one side and non-existent on the other
  treatRemovedAndDeletedAsDifference: FALSE

# Set file preview domain. Must be at least a host name. If a scheme is not set it defaults to https.
# You can include the scheme and also a path if your TYPO3 runs in a sub path (e.g. https://example.com/stuff/)
# @user
filePreviewDomainName:
  local: stage.publishing.localhost.de
  foreign: prod.publishing.localhost.de


# Manipulate view
# @user
view:
  # Backend module Publish records
  records:
    # Activate Filter buttons
    filterButtons: TRUE

  # Backend module Publish files
  files:
    # Activate Filter buttons
    filterButtons: TRUE

  # The Publish Overview Module uses this field name to display page names. You can change this field to e.g. nav_title
  titleField: title


# SSH and transfer settings for foreign ssh connection (file and commands)
sshConnection:

  # Hostname of the foreign server for SSH connection
  host: production.domain.tld

  # Default: 22, change if necessary
  port: 22

  # username of user on the foreign server
  username: simpleAccount

  # absolute path to local ssh key (rsa/dsa/..)
  privateKeyFileAndPathName: /full/path/to/private/ssh/key/id_rsa

  # absolute path to local ssh key belonging to the private above
  publicKeyFileAndPathName: /full/path/to/public/ssh/key/id_rsa.pub

  # private key password, empty string if none set
  privateKeyPassphrase: ''

  # You should not disable this check if the FKFP does not change. If the foreign key will change often (e.g. in a docker/k8s/cloud environment) you can disable it at your own risk.
  enableForeignKeyFingerprintCheck: TRUE

  # Key fingerprint of the production server for additional authentication check. If this fingerprint does not match in2publish will refuse the connection.
  # You don't need to keep the colons
  foreignKeyFingerprint: 00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00

  # Method modification: one of SSH2_FINGERPRINT_MD5 or SSH2_FINGERPRINT_SHA1
  foreignKeyFingerprintHashingMethod: SSH2_FINGERPRINT_MD5

  # ignore if chmod fails. prevents exception
  ignoreChmodFail: FALSE


# module settings
module:
  # Enable/Disable Publishing overview module
  m1: TRUE

  # Enable/Disable File Publishing module
  m3: TRUE

  # Enable/Disable Function Publishing module
  m4: TRUE


# Debug settings
# @user
debug:

  # if set to TRUE, parentRecord will not be set for records
  disableParentRecords: FALSE

  # Show foreign key fingerprint instead of throwing an exception.
  showForeignKeyFingerprint: FALSE

  # show execution time in backend modules in footer
  showExecutionTime: TRUE

  # Do not delete Envelope entries after they fulfilled their purpose
  keepEnvelopes: FALSE

  # This helps debugging demands which cause exceptions. Disabled to reduce overhead in production environments.
  # Enable this to see which resolver and processor of which table and column is responsible for the demand.
  traceDemand: FALSE


# Configuration for tasks
tasks:

  # Task name
  realUrl:

    # Exclude pages with these dokTypes from realUrl generation.
    excludedDokTypes: [ 254 ]

    # Create a web request for the published page.
    requestFrontend: FALSE


# Backup configuration
backup:

  # Backup settings for table publishing
  publishTableCommand:

    # The number of backups to keep. 0 : no backups are made; 1 : one backup, keep none;
    # greater than 1: keep the specified number of backups
    keepBackups: 2

    # Specify the location where table backups should be stored (absolute & writable).
    backupLocation: /Users/simpleAccount/Projects/Websites/foreign.publishing.dev_Backups

    # Adds a "DROP TABLE {tablename} IF EXISTS" statement to the backup.
    addDropTable: TRUE

    # If TRUE, backups of tables will be stored in ZIP files instead of plain sql file.
    # saves a lot of disc space.
    zipBackup: TRUE

# TCA processing settings
tca:

  # TCA processors decide if parts of the TCA are suitable to resolve relations
  processor:
    check: 'In2code\In2publishCore\Domain\Service\Processor\CheckProcessor'
    flex: 'In2code\In2publishCore\Domain\Service\Processor\FlexProcessor'
    group: 'In2code\In2publishCore\Domain\Service\Processor\GroupProcessor'
    inline: 'In2code\In2publishCore\Domain\Service\Processor\InlineProcessor'
    input: 'In2code\In2publishCore\Domain\Service\Processor\InputProcessor'
    none: 'In2code\In2publishCore\Domain\Service\Processor\NoneProcessor'
    passthrough: 'In2code\In2publishCore\Domain\Service\Processor\PassthroughProcessor'
    radio: 'In2code\In2publishCore\Domain\Service\Processor\RadioProcessor'
    select: 'In2code\In2publishCore\Domain\Service\Processor\SelectProcessor'
    text: 'In2code\In2publishCore\Domain\Service\Processor\TextProcessor'
    user: 'In2code\In2publishCore\Domain\Service\Processor\UserProcessor'
    imageManipulation: 'In2code\In2publishCore\Domain\Service\Processor\ImageManipulationProcessor'
    slug: 'In2code\In2publishCore\Domain\Service\Processor\SlugProcessor'
    category: 'In2code\In2publishCore\Domain\Service\Processor\CategoryProcessor'
    language: 'In2code\In2publishCore\Domain\Service\Processor\LanguageProcessor'

# Toggle additional features for the content publisher
features:

  # Adds a new entry to the right click menu in the page tree to quickly publish a single page.
  contextMenuPublishEntry:
    # Disabled by default. See Documentation/KnownIssues.md first before activation.
    enable: FALSE

  # Support for redirects. Enabling this adds new fields to redirects to associate redirects with pages and a module to publish redirects.
  redirectsSupport:
    # Enable this feature. You need to clear *all* caches after changing this, because it changes the TCA.
    enable: TRUE

  # Publishes sorting of all related records (same table and pid) if sorting of a record/pages has changes.
  publishSorting:
    # Enabled by default.
    enable: TRUE
