<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<div class="callout callout-warning">
		<div class="media">
			<div class="media-left">
				<span class="fa-stack fa-lg callout-icon">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-warning fa-stack-1x"></i>
				</span>
			</div>
			<div class="media-body">
				<h4 class="callout-title">
					<f:translate key="compare_database.transfer_notice.header" />
				</h4>
				<div class="callout-body">
					<f:translate key="compare_database.transfer_notice" />
				</div>
			</div>
		</div>
	</div>
</html>
