<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  data-namespace-typo3-fluid="true"
>
	<f:layout name="Submodule" />

	<f:section name="Header">
		<f:render partial="Header" arguments="{moduleName: '{f:translate(key:\'LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:moduleselector.system_info\')}'}" />
	</f:section>

	<f:section name="Main">
		<div class="card-container">
			<div class="card card-default card-size-medium">
				<div class="card-body">
					<p class="card-body-text">
						<f:link.action class="btn btn-dark btn-block" action="sysInfoShow">
							<core:icon identifier="apps-toolbar-menu-systeminformation" />
							<f:translate id="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:system_info.show" default="system_info.show" />
						</f:link.action>
					</p>
					<p class="card-body-text">
						<f:link.action class="btn btn-dark btn-block" action="sysInfoDownload">
							<core:icon identifier="actions-download" />
							<f:translate id="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:system_info.download" default="system_info.download" />
						</f:link.action>
					</p>
					<p class="card-body-text">
						<f:link.action class="btn btn-dark btn-block" action="sysInfoDecode">
							<core:icon identifier="actions-search" />
							<f:translate id="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:system_info.decode" default="system_info.decode" />
						</f:link.action>
					</p>
				</div>
			</div>
			<div class="card card-default card-size-medium">
				<div class="card-body">
					<f:form action="sysInfoUpload" enctype="multipart/form-data" method="post">
						<div class="row row-cols-auto align-items-end g-3">
							<div class="col">
								<label for="json_file" class="form-label">
									<f:translate id="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:system_info.upload.file">system_info.upload.file</f:translate>
								</label>
								<f:form.upload id="json_file" class="form-control" name="jsonFile" />
							</div>
							<div class="col">
								<f:form.submit class="btn btn-primary"
											   value="{f:translate(id:'LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:system_info.upload.upload')}" />
							</div>
						</div>
					</f:form>
				</div>
			</div>
		</div>
	</f:section>
</html>
