<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:variable name="easy-modal-title" value="{f:translate(key: 'tx_in2publishcore.modal.publish.title')}" />
	<f:variable name="easy-modal-content" value="{f:translate(key: 'tx_in2publishcore.modal.publish.page_with_dependencies.text')}" />
	<f:variable name="easy-modal-severity" value="1" />
	<f:link.action
		action="publishRecord"
		class="in2publish-link-publish js-in2publish-confirmation-modal"
		arguments="{id:record.id}"
		title="{f:translate(key:'publish_pages', default:'Publish this page')}"
		data="{easy-modal-title: easy-modal-title, easy-modal-content: easy-modal-content, easy-modal-severity: easy-modal-severity}"
	>
		<i class="in2publish-icon-publish"></i>
	</f:link.action>
</html>
