<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Module" />

	<f:section name="Content">

		<f:render partial="Header" arguments="{moduleName: '{f:translate(key:\'LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:moduleselector.tca\')}'}" />

		<a id="in2publish--compatible-tca"></a>
		<f:render section="navigation" />
		<div class="card card-success">
			<div class="card-header">
				<div class="card-header-body">
					<h2 class="card-title">
						<f:translate key="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:tca.compatible_tca" default="Compatible TCA" />
					</h2>
				</div>
			</div>
			<div class="card-body">
				<f:debug title="{f:translate(key:'LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:tca.compatible_tca')}" inline="true" maxDepth="9">{compatibleTca}</f:debug>
			</div>
		</div>

		<a id="in2publish--incompatible-tca"></a>
		<f:render section="navigation" />
		<div class="card card-danger">
			<div class="card-header">
				<div class="card-header-body">
					<h2 class="card-title">
						<f:translate key="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:tca.incompatible_tca" default="Incompatible TCA" />
					</h2>
				</div>
			</div>
			<div class="card-body">
				<f:debug title="{f:translate(key:'LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:tca.incompatible_tca')}" inline="true">{incompatibleTca}</f:debug>
			</div>
		</div>
	</f:section>

	<f:section name="navigation">
		<ul>
			<li>
				<a href="#in2publish--compatible-tca">
					<f:translate key="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:tca.navigate.to_compatible" default="To compatbile TCA" />
				</a>
			</li>
			<li>
				<a href="#in2publish--incompatible-tca">
					<f:translate key="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:tca.navigate.to_incompatible" default="To incompatbile TCA" />
				</a>
			</li>
		</ul>
	</f:section>
</html>
