parameters:
	level: 1
	paths:
		- ../../Classes/
	excludePaths:
		- ../../.Build/
		- ../../.github/
		- ../../.idea/
		- ../../.project/
		- ../../Build/
		- ../../Configuration/
		- ../../Documentation/
		- ../../Resources/
		- ../../Tests/
		- ../../Classes/Features/LogsIntegration/Controller/LogController.php
	bootstrapFiles:
		- ../../.Build/vendor/autoload.php
		- phpstan_bootstrap.php
