<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:publish="http://typo3.org/ns/In2code/In2publishCore/ViewHelpers"
	  data-namespace-typo3-fluid="true"
>
	<f:if condition="{condition:IsUserAllowedToPublish()}">
		<f:then>
			<f:if condition="{record.stateRecursive} !== 'unchanged'">
				<f:then>
					<f:if condition="{record.reasonsWhyTheRecordIsNotPublishable.empty}">
						<f:then>
							<f:render section="DirtyPropertiesRowWithId" arguments="{_all}" />
						</f:then>
						<f:else>
							<f:render section="DirtyPropertiesTableBodyWrapper" arguments="{_all}" />
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<f:render section="DirtyPropertiesRowWithId" arguments="{_all}" />
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:render section="DirtyPropertiesRowWithId" arguments="{_all}" />
		</f:else>
	</f:if>

	<f:section name="DirtyPropertiesTableBodyWrapper">
		<tbody class="collapse" id="file-{record.id -> publish:security.hash()}">
			<f:render section="ReasonsTableRow" arguments="{_all}" />
			<f:render section="DirtyPropertiesRow" arguments="{_all}" />
		</tbody>
	</f:section>

	<f:section name="ReasonsTableRow">
		<tr>
			<td></td>
			<td colspan="7">
				<f:if condition="{record.reasonsWhyTheRecordIsNotPublishable}">
					<ul class="list-unstyled mb-2 ms-0">
						<f:for each="{record.reasonsWhyTheRecordIsNotPublishableHumanReadable}" as="reason">
							<li>{reason}</li>
						</f:for>
					</ul>
				</f:if>
			</td>
		</tr>
	</f:section>

	<f:section name="DirtyPropertiesRowWithId">
		<tr class="collapse" id="file-{record.id -> publish:security.hash()}">
			<td></td>
			<td colspan="4">
				<f:render section="StageProperties" arguments="{ record: record, stagingLevel: 'local'}"/>
			</td>
			<td colspan="3">
				<f:render section="StageProperties" arguments="{ record: record, stagingLevel: 'foreign'}"/>
			</td>
		</tr>
	</f:section>

	<f:section name="DirtyPropertiesRow">
		<tr>
			<td></td>
			<td colspan="4">
				<f:render section="StageProperties" arguments="{ record: record, stagingLevel: 'local'}"/>
			</td>
			<td colspan="3">
				<f:render section="StageProperties" arguments="{ record: record, stagingLevel: 'foreign'}"/>
			</td>
		</tr>
	</f:section>

	<f:section name="StageProperties">
		<f:variable name="propertyKey">{stagingLevel}Props</f:variable>

		<f:if condition="{record.{propertyKey}}">
			<ul class="list-unstyled mb-2 ms-0">
				<f:render partial="File/DirtyProperties/Property" arguments="{ record: record, propertyName: 'name', stagingLevel: stagingLevel}"/>
				<f:if condition="{record.children.sys_file_metadata}">
					<f:for each="{record.children.sys_file_metadata}" as="metaRecord" iteration="iterator">
						<f:if condition="{iterator.isFirst}">
							<f:render partial="File/DirtyProperties/Property" arguments="{ record: metaRecord, propertyName: 'title', stagingLevel: stagingLevel}"/>
							<f:render partial="File/DirtyProperties/Property" arguments="{ record: metaRecord, propertyName: 'description', stagingLevel: stagingLevel}"/>
							<f:render partial="File/DirtyProperties/Property" arguments="{ record: metaRecord, propertyName: 'alternative', stagingLevel: stagingLevel}"/>
						</f:if>
					</f:for>
				</f:if>
				<f:render partial="File/DirtyProperties/Property" arguments="{ record: record, propertyName: 'extension', stagingLevel: stagingLevel}"/>
				<f:render partial="File/DirtyProperties/Property" arguments="{ record: record, propertyName: 'size', stagingLevel: stagingLevel}" contentAs="content">
					<f:format.bytes><publish:miscellaneous.getPropertyFromStagingDefinition propertyName="size" record="{record}" stagingLevel="{stagingLevel}" /></f:format.bytes>
				</f:render>
				<f:render partial="File/DirtyProperties/Property" arguments="{ record: record, propertyName: 'identifier', stagingLevel: stagingLevel}"/>
			</ul>

			<f:if condition="{record.{propertyKey}.type} == 2">
				<f:if condition="{stagingLevel} == 'foreign'">
					<f:then>
						<img class="w-50 h-auto" src="{record.foreignProps.publicUrl}"/>
					</f:then>
					<f:else>
						<f:image class="w-50 h-auto" src="{record.{propertyKey}.uid}"/>
					</f:else>
				</f:if>
			</f:if>
		</f:if>
	</f:section>
</html>
