<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:publish="http://typo3.org/ns/In2code/In2publishCore/ViewHelpers"
	  data-namespace-typo3-fluid="true"
>
	<f:if condition="{record}">
		<tr class="in2publish-stagelisting__item in2publish-stagelisting__item--{record.state}"
			data-type="folder"
			data-id="{record.id}"
			data-name="{publish:record.getMergedProperty(record:record, propertyName: 'name')}"
			data-searchable="{publish:miscellaneous.getPropertyFromStagingDefinition(propertyName: 'name', record: record, stagingLevel: 'local', fallbackProperty: 'identifier')}|{publish:miscellaneous.getPropertyFromStagingDefinition(propertyName: 'name', record: record, stagingLevel: 'foreign', fallbackProperty: 'identifier')}">
			<td class="col-state">
				<span class="badge rounded-pill in2publish-badge--{record.stateRecursive}">
					<f:translate key="record.state.{record.stateRecursive}.short"/>
				</span>
			</td>
			<f:comment>Left</f:comment>
			<td class="col-icon">
				<core:icon identifier="files-folder" />
			</td>
			<td class="col-filename col-filename--local col-responsive nowrap" colspan="2">
				<publish:Miscellaneous.GetPropertyFromStagingDefinition record="{record}" propertyName="name" stagingLevel="local" fallbackProperty="combinedIdentifier" />
			</td>
			<td class="col-control col-publish">
				<f:if condition="{record.changed}">
					<f:link.action
						class="js-publish-trigger js-publish-overlay btn btn-default"
						action="publishFolder"
						arguments="{combinedIdentifier: record.id}"
						data="{type: 'folder', name: '{publish:record.getMergedProperty(record: record, propertyName: \'id\')}'}"
					>
						<f:translate key="publish"/>
						<core:icon identifier="actions-arrow-right" />
					</f:link.action>
				</f:if>
			</td>

			<f:comment>Right</f:comment>
			<td class="col-icon">
				<core:icon identifier="files-folder" />
			</td>
			<td class="col-filename col-filename--foreign col-responsive nowrap" colspan="2">
				<publish:Miscellaneous.GetPropertyFromStagingDefinition record="{record}" propertyName="name" stagingLevel="foreign" fallbackProperty="combinedIdentifier" />
			</td>
		</tr>

		<f:if condition="{record.children}">
			<f:for each="{record.children._folder}" as="folderRecord">
				<f:render partial="File/FolderList" arguments="{record:folderRecord, config:config}" />
			</f:for>
		</f:if>
	</f:if>
</html>
