{namespace publish=In2code\In2publishCore\ViewHelpers}

<div class="in2publish-footer" data-information-version="{extensionVersion}" data-information-previewdomain="{config.filePreviewDomainName.foreign}">
	<f:link.external uri="https://www.in2code.de">
		<f:image src="{f:uri.resource(path:'Images/in2code_logo.png',extensionName:'In2publishCore')}" alt="in2code - wir leben TYPO3" width="160" height="48" class="in2publish-logo" />
	</f:link.external>

	<br />Copyright 2016-2021 in2code GmbH - Version {extensionVersion}

	<div>Execution time: {executionTimeService.executionTime }</div>
</div>
