<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<div
		class="in2publish-footer"
		data-information-version="{extensionVersion}"
	>
		<f:link.external uri="https://www.in2code.de">
			<f:image
				src="{f:uri.resource(path:'Images/in2code_logo.png',extensionName:'In2publishCore')}"
				alt="in2code - wir leben TYPO3" width="160" height="48" class="in2publish-logo"
			/>
		</f:link.external>

		<br/>Copyright 2015-2023 in2code GmbH - Version {extensionVersion}

		<div>Execution time: ###IN2CODE_IN2PUBLISH_EXECUTION_TIME###</div>
		<f:if condition="{testStatus}">
			<f:for each="{testStatus}" as="string">
				<core:icon identifier="actions-exclamation-triangle-alt" />
				<f:translate key="test_state_error.{string}"/>
			</f:for>
		</f:if>
	</div>
</html>
