<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:be.container>
		<div class="overlay"></div>

		<div class="typo3-fullDoc">
			<div id="typo3-docheader">
				<div id="typo3-docheader-row2" class="module-docheader">
					<div class="docheader-row2-left typo3-docheader-functions module-docheader-bar in2publish-backend-select">
						<f:render partial="Tools/ToolsMenuEntries" arguments="{_all}" />
					</div>
				</div>
			</div>
			<div id="typo3-docbody" data-module="m4">
				<div id="typo3-inner-docbody">
					<f:flashMessages />
					<f:render section="content" />
				</div>
			</div>
		</div>
	</f:be.container>
</html>
