{namespace publish=In2code\In2publishCore\ViewHelpers}
<f:be.container
	includeCssFiles="{
		0: '{f:uri.resource(path:\'Css/Modules.css\',extensionName:\'In2publishCore\')}'
	}"
	includeJsFiles="{
		0: '{f:uri.resource(path:\'JavaScripts/In2publish/BackendModule.js\',extensionName:\'In2publishCore\')}'
	}"
	enableClickMenu="false"
	loadExtJs="false"
	loadExtJsTheme="false"
	enableExtJsDebug="false"
	loadJQuery="true">

	<div class="overlay"></div>

	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left typo3-docheader-functions in2publish-backend-select">
				</div>
				<div class="docheader-row2-right">
					{record.localProperties.storage}:{record.localProperties.identifier}
				</div>
			</div>
		</div>
		<div id="typo3-docbody" class="in2publish-module" data-module="m3">
			<div id="typo3-inner-docbody" class="in2publish-backend">
				<f:render partial="LoadingOverlay" />
				<f:render partial="FlashMessages" arguments="{additionalClass:'in2publish-messages in2publish-messages--removeable'}" />
				<f:render section="content" />
				<f:render partial="Typo3Version" />
			</div>
		</div>
	</div>
</f:be.container>
