{namespace publish=In2code\In2publishCore\ViewHelpers}
<f:be.container>

	<div class="overlay"></div>

	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left typo3-docheader-functions in2publish-backend-select">
				</div>
				<div class="docheader-row2-right">
					{record.localProperties.storage}:{record.localProperties.identifier}
				</div>
			</div>
		</div>
		<div id="typo3-docbody" class="in2publish-module" data-module="m3">
			<div id="typo3-inner-docbody" class="in2publish-backend">
				<f:render partial="LoadingOverlay" />
				<f:flashMessages />
				<f:render section="content" />
				<f:render partial="Typo3Version" />
			</div>
		</div>
	</div>
</f:be.container>
