{namespace publish=In2code\In2publishCore\ViewHelpers}
<f:be.container
		includeCssFiles="{0: '{f:uri.resource(path:\'Css/Modules.css\',extensionName:\'In2publishCore\')}', 1: '{f:uri.resource(path:\'Css/Bootstrap.css\',extensionName:\'In2publishCore\')}'}"
		includeJsFiles="{0: '{f:uri.resource(path:\'JavaScripts/In2publish/Overall.js\',extensionName:\'In2publishCore\')}', 1: '{f:uri.resource(path:\'JavaScripts/In2publish/BackendModule.js\',extensionName:\'In2publishCore\')}', 2: '{f:uri.resource(path:\'JavaScripts/In2publish/VersionCheck.min.js\',extensionName:\'In2publishCore\')}'}"
		enableClickMenu="false"
		loadExtJs="false"
		loadExtJsTheme="false"
		enableExtJsDebug="false"
		loadJQuery="true">

	<div class="overlay"></div>

	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row2" class="module-docheader">
				<div class="docheader-row2-left typo3-docheader-functions module-docheader-bar in2publish-backend-select">
					<f:if condition="{configurationExists}">
						<f:link.action action="index" controller="Tools" class="btn btn-xs{publish:Be.GetClassNameOnAction(actionName:'index')}">
							<f:translate key="moduleselector.index">Introduction</f:translate>
						</f:link.action>
						<f:link.action action="test" controller="Tools" class="btn btn-xs{publish:Be.GetClassNameOnAction(actionName:'test')}">
							<f:translate key="moduleselector.test">Tests</f:translate>
						</f:link.action>
						<f:link.action action="configuration" controller="Tools" class="btn btn-xs{publish:Be.GetClassNameOnAction(actionName:'configuration')}">
							<f:translate key="moduleselector.configuration">Configuration</f:translate>
						</f:link.action>
						<f:link.action action="showLogs" controller="Tools" class="btn btn-xs{publish:Be.GetClassNameOnAction(actionName:'showLogs')}">
							<f:translate key="moduleselector.show_logs">Logs</f:translate>
						</f:link.action>
						<f:link.action action="tca" controller="Tools" class="btn btn-xs{publish:Be.GetClassNameOnAction(actionName:'tca')}">
							<f:translate key="moduleselector.tca">TCA</f:translate>
						</f:link.action>
						<f:link.action action="clearTcaCaches" controller="Tools" class="btn btn-xs{publish:Be.GetClassNameOnAction(actionName:'clearTcaCaches')}">
							<f:translate key="moduleselector.flush_tca">TCA flush</f:translate>
						</f:link.action>
					</f:if>
				</div>
			</div>
		</div>
		<div id="typo3-docbody" data-module="m4">
			<div id="typo3-inner-docbody" class="in2publish-backend">
				<f:flashMessages renderMode="div" />
				<div class="container container-full">
					<f:render section="content" />
					<f:render partial="Typo3Version" />
				</div>
			</div>
		</div>
	</div>
</f:be.container>
