<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="Main">
		<h2>
			<f:translate key="module_main_title">Publish Content</f:translate>
			-
			<f:translate key="module_m4_title">Tools</f:translate>
		</h2>

		<div class="in2publish-messages">
			<f:for each="{testingResults}" as="testResult">
				<f:be.infobox title="{testResult.translatedLabel}" state="{testResult.severityState}">
					<f:format.nl2br>{testResult.translatedMessages}</f:format.nl2br>
				</f:be.infobox>
			</f:for>
		</div>
	</f:section>
</html>
