{namespace publish=In2code\In2publishCore\ViewHelpers}
<div class="in2publish-stagelisting__dropdown in2publish-stagelisting__dropdown--close in2publish-clearfix">
	<f:render section="properties" arguments="{record:record}"></f:render>
</div>

<f:section name="properties">
	<div class="in2publish-stagelisting__dropdown__item in2publish-stagelisting__dropdown__item--left">
		<f:comment>Show page properties (Left)</f:comment>
		<f:if condition="{related} == 'true'">
			<h4>{record.breadcrumb}</h4>
		</f:if>
		<h3>
			<f:if condition="{related} == 'true'">
				<publish:Tca.GetLabelFieldFromRecord record="{record}" stagingLevel="local" /> /
			</f:if>
			<b><f:translate key="dirty_properties_pageproperties">Page properties</f:translate></b>
		</h3>
		<ul>
			<f:for each="{record.localProperties}" key="fieldName" as="value">
				<li><publish:Tca.GetFieldLabelFromLocallang fieldName="{fieldName}" tableName="{record.tableName}" />
					<publish:Tca.FormatPropertyByTcaDefinition fieldName="{fieldName}" tableName="{record.tableName}">
						{value}
					</publish:Tca.FormatPropertyByTcaDefinition>
				</li>
			</f:for>
		</ul>
	</div>
	<div class="in2publish-stagelisting__dropdown__item in2publish-stagelisting__dropdown__item--right">
		<f:comment>Show page properties (Right)</f:comment>
		<f:if condition="{related} == 'true'">
			<h4>{record.breadcrumb}</h4>
		</f:if>
		<h3>
			<f:if condition="{related} == 'true'">
				<publish:Tca.GetLabelFieldFromRecord record="{record}" stagingLevel="foreign" /> /
			</f:if>
			<b><f:translate key="dirty_properties_pageproperties">Page properties</f:translate></b>
		</h3>
		<ul>
			<f:for each="{record.foreignProperties}" key="fieldName" as="value">
				<li><publish:Tca.GetFieldLabelFromLocallang fieldName="{fieldName}" tableName="{record.tableName}" />
					<publish:Tca.FormatPropertyByTcaDefinition fieldName="{fieldName}" tableName="{record.tableName}">
						{value}
					</publish:Tca.FormatPropertyByTcaDefinition>
				</li>
			</f:for>
		</ul>
	</div>
	<div class="in2publish-stagelisting__dropdown__item in2publish-stagelisting__dropdown__item--full">
		<f:for each="{record.relatedRecords}" key="tableName" as="relatedRecords">
			<f:comment><h3 class=""title="{tableName}"><publish:Tca.GetTableLabelFromLocallang tableName="{tableName}" /></h3></f:comment>
			<ul class="in2publish-stagelisting__dropdown__item__list">
				<f:for each="{relatedRecords}" as="relatedRecord">
					<f:render section="properties" arguments="{record:relatedRecord, related: 'true'}" />
					<f:comment>
						<li>
							<f:render partial="Record/Index/AllPropertiesList" arguments="{record:relatedRecord}" />
							<publish:Tca.GetLabelFieldFromRecord record="{relatedRecord}" stagingLevel="local" />
						</li>
					</f:comment>
				</f:for>
			</ul>
		</f:for>
	</div>
</f:section>
