{namespace publish=In2code\In2publishCore\ViewHelpers}

<div class="in2publish-stagelisting__dropdown in2publish-stagelisting__dropdown--close in2publish-clearfix">

	<f:if condition="{config.view.records.breadcrumb}">
		<f:if condition="{record.changedRelatedRecordsFlat}">
			<h4 class="in2publish-related__title"><f:translate key="related_records">related records</f:translate></h4>
			<ul class="in2publish-related__list">
				<f:for each="{record.changedRelatedRecordsFlat}" as="relatedRecord">
					<li>{relatedRecord.breadcrumb}
				</f:for>
			</ul>
		</f:if>
	</f:if>

	<div class="in2publish-stagelisting__dropdown__item in2publish-stagelisting__dropdown__item--left">
		<div class="in2publish-stagelisting__dropdown__actions">
			<f:if condition="{record.state} != 'deleted'">
				<f:then>
					<publish:Link.RecordHistory class="in2publish-notextdecoration" record="{record}"><i class="in2publish-icon-history"></i><f:translate key="dirty_properties_history_page">Page History</f:translate></publish:Link.RecordHistory>
					<publish:Link.EditRecord class="in2publish-notextdecoration" title="{f:translate(key:'dirty_properties_edit',default:'edit')}" record="{record}"><i class="in2publish-icon-edit"></i><f:translate key="dirty_properties_edit_main">edit</f:translate></publish:Link.EditRecord>
					<publish:Link.PreviewRecord class="in2publish-notextdecoration" identifier="{record.identifier}" table="{record.tableName}" stagingLevel="local" target="_blank">
						<i class="in2publish-icon-eye"></i>
						<f:translate key="dirty_properties_preview_page">Preview</f:translate>
					</publish:Link.PreviewRecord>
				</f:then>
				<f:else>
					&nbsp;
				</f:else>
			</f:if>
		</div>

		<f:if condition="{record.changedRecursive">

			<f:comment>
				Show parent record (e.g. page) properties only if they have changed
			</f:comment>
			<f:if condition="{record.state} == 'changed'">
				<f:if condition="{record.dirtyProperties}">
					<h3>
						<f:translate key="dirty_properties_pageproperties" arguments="{0:'{publish:Tca.GetTableLabelFromLocallang(tableName:record.tableName)}'}">Properties</f:translate>
					</h3>
					<ul class="in2publish-stagelisting__dropdown__page in2publish-stagelisting__dropdown__item__list">
						<f:for each="{record.dirtyProperties}" as="fieldName">
							<li>
								<f:if condition="{record.tableName} == 'pages'">
									<publish:Link.RecordHistory class="in2publish-notextdecoration" title="{f:translate(key:'dirty_properties_undo',default:'undo')}" record="{record}"><i class="in2publish-icon-history"></i></publish:Link.RecordHistory>
									<publish:Link.EditRecord class="in2publish-notextdecoration" title="{f:translate(key:'dirty_properties_edit',default:'edit')}" record="{record}"><i class="in2publish-icon-edit"></i></publish:Link.EditRecord>
								</f:if>
								<publish:Tca.GetFieldLabelFromLocallang fieldName="{fieldName}" tableName="{record.tableName}" />
								<publish:Tca.FormatPropertyByTcaDefinition fieldName="{dirtyProperty}" tableName="{record.tableName}">
									<publish:Miscellaneous.GetPropertyFromStagingDefinition record="{record}" propertyName="{fieldName}" stagingLevel="local" />
								</publish:Tca.FormatPropertyByTcaDefinition>
							</li>
						</f:for>
					</ul>
				</f:if>
			</f:if>


			<f:comment>
				Show children records with dirty properties
			</f:comment>
			<f:for each="{record.relatedRecords}" key="tableName" as="relatedRecords">
				<f:if condition="{publish:Miscellaneous.HasChangedRecords(records:relatedRecords)}">
					<h3 title="{tableName}"><publish:Tca.GetTableLabelFromLocallang tableName="{tableName}" /></h3>
					<ul class="in2publish-stagelisting__dropdown__item__list">
						<f:for each="{relatedRecords}" as="relatedRecord">
							<f:if condition="{relatedRecord.changed}">
								<li>
									<publish:Link.RecordHistory class="in2publish-notextdecoration" title="{f:translate(key:'dirty_properties_undo',default:'undo')}" record="{relatedRecord}"><i class="in2publish-icon-history"></i></publish:Link.RecordHistory>
									<publish:Link.EditRecord class="in2publish-notextdecoration" title="{f:translate(key:'dirty_properties_edit',default:'edit')}" record="{relatedRecord}"><i class="in2publish-icon-edit"></i></publish:Link.EditRecord>
									<publish:Tca.GetLabelFieldFromRecord record="{relatedRecord}" stagingLevel="local" />
								</li>
							</f:if>
						</f:for>
					</ul>
				</f:if>
			</f:for>
		</f:if>
	</div>


	<div class="in2publish-stagelisting__dropdown__item in2publish-stagelisting__dropdown__item--right">
		<div class="in2publish-stagelisting__dropdown__actions">
			<f:if condition="{record.state} != 'added'">
				<f:then>
					<f:if condition="{record.foreignPreviewAvailable}">
						<f:then>
							<f:if condition="{record.localPreviewAvailable}">
								<publish:uri.compareUri identifier="{record.identifier}" class="in2publish-notextdecoration"><i class="in2publish-icon-eye"></i><f:translate key="dirty_properties_preview_compare">Compare</f:translate></publish:uri.compareUri>
							</f:if>
							<publish:Link.PreviewRecord class="in2publish-notextdecoration" identifier="{record.identifier}" table="{record.tableName}" stagingLevel="foreign" target="_blank">
								<i class="in2publish-icon-eye"></i>
								<f:translate key="dirty_properties_preview_page">Preview</f:translate>
							</publish:Link.PreviewRecord>
						</f:then>
						<f:else>
							&nbsp;
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					&nbsp;
				</f:else>
			</f:if>
		</div>

		<f:if condition="{record.changedRecursive">

			<f:comment>
				Show page properties only if they have changed
			</f:comment>
			<f:if condition="{record.state} == 'changed'">
				<f:if condition="{record.dirtyProperties}">
					<h3>
						<f:translate key="dirty_properties_pageproperties" arguments="{0:'{publish:Tca.GetTableLabelFromLocallang(tableName:record.tableName)}'}">Properties</f:translate>
					</h3>
					<ul class="in2publish-stagelisting__dropdown__page in2publish-stagelisting__dropdown__item__list">
						<f:for each="{record.dirtyProperties}" as="fieldName">
							<li>
								<publish:Tca.GetFieldLabelFromLocallang fieldName="{fieldName}" tableName="{record.tableName}" />
								<publish:Tca.FormatPropertyByTcaDefinition fieldName="{dirtyProperty}" tableName="{record.tableName}">
									<publish:Miscellaneous.GetPropertyFromStagingDefinition record="{record}" propertyName="{fieldName}" stagingLevel="foreign" />
								</publish:Tca.FormatPropertyByTcaDefinition>
							</li>
						</f:for>
					</ul>
				</f:if>
			</f:if>


			<f:comment>
				Show children records with dirty properties
			</f:comment>
			<f:for each="{record.relatedRecords}" key="tableName" as="relatedRecords">
				<f:if condition="{publish:Miscellaneous.HasChangedRecords(records:relatedRecords)}">
					<h3 title="{tableName}"><publish:Tca.GetTableLabelFromLocallang tableName="{tableName}" /></h3>
					<ul class="in2publish-stagelisting__dropdown__item__list">
						<f:for each="{relatedRecords}" as="relatedRecord">
							<f:if condition="{relatedRecord.changed}">
								<li>
									<publish:Tca.GetLabelFieldFromRecord record="{relatedRecord}" stagingLevel="foreign" />
								</li>
							</f:if>
						</f:for>
					</ul>
				</f:if>
			</f:for>
		</f:if>
	</div>
</div>
