{namespace publish=In2code\In2publishCore\ViewHelpers}

<div class="in2publish-stagelisting__dropdown in2publish-stagelisting__dropdown--close in2publish-clearfix">

	<f:if condition="{configuration.view.records.breadcrumb}">
		<f:if condition="{record.changedRelatedRecordsFlat}">
			<h4 class="in2publish-related__title"><f:translate key="related_records">related records</f:translate></h4>
			<ul class="in2publish-related__list">
				<f:for each="{record.changedRelatedRecordsFlat}" as="relatedRecord">
					<li>{relatedRecord.breadcrumb}
				</f:for>
			</ul>
		</f:if>
	</f:if>

	<div class="in2publish-stagelisting__dropdown__item in2publish-stagelisting__dropdown__item--left">
		<div class="in2publish-stagelisting__dropdown__actions">
			<f:if condition="{record.state} != 'deleted'">
				<f:then>
					<a href="{publish:Uri.UndoRecord(table:record.tableName,identifier:record.identifier)}"><i class="in2publish-icon-history"></i><f:translate key="dirty_properties_history_page">Page History</f:translate></a>
					<f:if condition="{record.localPreviewAvailable}">
						<f:then>
							<f:link.external uri="{publish:Miscellaneous.GetFirstDomainFromRootline(record:record,stagingLevel:'local',addProtocol:'0')}/index.php?id={record.identifier}" target="_blank">
								<i class="in2publish-icon-eye"></i><f:translate key="dirty_properties_preview_page">Preview</f:translate>
							</f:link.external>
						</f:then>
						<f:else>
							<f:if condition="{publish:Uri.PreviewAnyRecord(tableName:record.tableName,identifier:record.identifier)}">
								<f:link.external uri="{publish:Miscellaneous.GetFirstDomainFromRootline(record:record,stagingLevel:'local',addProtocol:'0')}/{publish:Uri.PreviewAnyRecord(tableName:record.tableName,identifier:record.identifier)}" target="_blank">
									<i class="in2publish-icon-eye"></i><f:translate key="dirty_properties_preview_page">Preview</f:translate>
								</f:link.external>
							</f:if>
							<a title="{f:translate(key:'dirty_properties_edit',default:'edit')}" href="{publish:Uri.EditRecord(table:record.tableName,identifier:record.identifier)}">
								<i class="in2publish-icon-edit"></i><f:translate key="dirty_properties_edit_main">edit</f:translate>
							</a>
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					&nbsp;
				</f:else>
			</f:if>
		</div>

		<f:if condition="{record.changedRecursive">

			<f:comment>
				Show parent record (e.g. page) properties only if they have changed
			</f:comment>
			<f:if condition="{record.state} == 'changed'">
				<f:if condition="{record.dirtyProperties}">
					<h3>
						<f:translate key="dirty_properties_pageproperties" arguments="{0:'{publish:Tca.GetTableLabelFromLocallang(tableName:record.tableName)}'}">Properties</f:translate>
					</h3>
					<ul class="in2publish-stagelisting__dropdown__page in2publish-stagelisting__dropdown__item__list">
						<f:for each="{record.dirtyProperties}" as="fieldName">
							<li>
								<f:if condition="{record.tableName} == 'pages'">
									<a title="{f:translate(key:'dirty_properties_undo',default:'undo')}" href="{publish:Uri.UndoRecord(table:'pages',identifier:record.identifier)}"><i class="in2publish-icon-history"></i></a>
									<a title="{f:translate(key:'dirty_properties_edit',default:'edit')}" href="{publish:Uri.EditRecord(table:'pages',identifier:record.identifier)}"><i class="in2publish-icon-edit"></i></a>
								</f:if>
								<publish:Tca.GetFieldLabelFromLocallang fieldName="{fieldName}" tableName="{record.tableName}" />
								<publish:Tca.FormatPropertyByTcaDefinition fieldName="{dirtyProperty}" tableName="{record.tableName}">
									<publish:Miscellaneous.GetPropertyFromStagingDefinition record="{record}" propertyName="{fieldName}" stagingLevel="local" />
								</publish:Tca.FormatPropertyByTcaDefinition>
							</li>
						</f:for>
					</ul>
				</f:if>
			</f:if>


			<f:comment>
				Show children records with dirty properties
			</f:comment>
			<f:for each="{record.relatedRecords}" key="tableName" as="relatedRecords">
				<f:if condition="{publish:Miscellaneous.HasChangedRecords(records:relatedRecords)}">
					<h3 title="{tableName}">
						<publish:Tca.GetTableLabelFromLocallang tableName="{tableName}" />
					</h3>
					<ul class="in2publish-stagelisting__dropdown__item__list">
						<f:for each="{relatedRecords}" as="relatedRecord">
							<f:if condition="{relatedRecord.changed}">
								<li>
									<a title="{f:translate(key:'dirty_properties_undo',default:'undo')}" href="{publish:Uri.UndoRecord(table:tableName,identifier:relatedRecord.identifier)}"><i class="in2publish-icon-history"></i></a>
									<a title="{f:translate(key:'dirty_properties_edit',default:'edit')}" href="{publish:Uri.EditRecord(table:tableName,identifier:relatedRecord.identifier)}"><i class="in2publish-icon-edit"></i></a>
									<publish:Tca.GetLabelFieldFromRecord record="{relatedRecord}" stagingLevel="local" />
								</li>
							</f:if>
						</f:for>
					</ul>
				</f:if>
			</f:for>
		</f:if>
	</div>


	<div class="in2publish-stagelisting__dropdown__item in2publish-stagelisting__dropdown__item--right">
		<div class="in2publish-stagelisting__dropdown__actions">
			<f:if condition="{record.state} != 'added'">
				<f:then>
					<f:if condition="{record.foreignPreviewAvailable}">
						<f:then>
							<f:if condition="{record.localPreviewAvailable}">
								<f:link.external uri="{publish:Miscellaneous.GetFirstDomainFromRootline(record:record,stagingLevel:'local',addProtocol:'0')}/index.php?id={record.identifier}&tx_in2publishcore_pi1[identifier]={record.identifier}&type=9815" target="_blank">
									<i class="in2publish-icon-eye"></i><f:translate key="dirty_properties_preview_compare">Compare</f:translate>
								</f:link.external>
							</f:if>
							<f:link.external uri="{publish:Miscellaneous.GetFirstDomainFromRootline(record:record,stagingLevel:'foreign',addProtocol:'0')}/index.php?id={record.identifier}" target="_blank">
								<i class="in2publish-icon-eye"></i><f:translate key="dirty_properties_preview_page">Preview</f:translate>
							</f:link.external>
						</f:then>
						<f:else>
							&nbsp;
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					&nbsp;
				</f:else>
			</f:if>
		</div>

		<f:if condition="{record.changedRecursive">

			<f:comment>
				Show page properties only if they have changed
			</f:comment>
			<f:if condition="{record.state} == 'changed'">
				<f:if condition="{record.dirtyProperties}">
					<h3>
						<f:translate key="dirty_properties_pageproperties" arguments="{0:'{publish:Tca.GetTableLabelFromLocallang(tableName:record.tableName)}'}">Properties</f:translate>
					</h3>
					<ul class="in2publish-stagelisting__dropdown__page in2publish-stagelisting__dropdown__item__list">
						<f:for each="{record.dirtyProperties}" as="fieldName">
							<li>
								<publish:Tca.GetFieldLabelFromLocallang fieldName="{fieldName}" tableName="{record.tableName}" />
								<publish:Tca.FormatPropertyByTcaDefinition fieldName="{dirtyProperty}" tableName="{record.tableName}">
									<publish:Miscellaneous.GetPropertyFromStagingDefinition record="{record}" propertyName="{fieldName}" stagingLevel="foreign" />
								</publish:Tca.FormatPropertyByTcaDefinition>
							</li>
						</f:for>
					</ul>
				</f:if>
			</f:if>


			<f:comment>
				Show children records with dirty properties
			</f:comment>
			<f:for each="{record.relatedRecords}" key="tableName" as="relatedRecords">
				<f:if condition="{publish:Miscellaneous.HasChangedRecords(records:relatedRecords)}">
					<h3 title="{tableName}">
						<publish:Tca.GetTableLabelFromLocallang tableName="{tableName}" />
					</h3>
					<ul class="in2publish-stagelisting__dropdown__item__list">
						<f:for each="{relatedRecords}" as="relatedRecord">
							<f:if condition="{relatedRecord.changed}">
								<li>
									<publish:Tca.GetLabelFieldFromRecord record="{relatedRecord}" stagingLevel="foreign" />
								</li>
							</f:if>
						</f:for>
					</ul>
				</f:if>
			</f:for>
		</f:if>
	</div>
</div>
