{namespace publish=In2code\In2publishCore\ViewHelpers}

<f:if condition="{record}">
	<div class="in2publish-stagelisting__item in2publish-stagelisting__item--{record.stateRecursive} {f:if(condition:record.removedFromLocalDatabase, then:'in2publish-stagelisting__item--removed')} in2publish-clearfix">
		<f:comment>
			Left
		</f:comment>
		<div class="in2publish-stagelisting__item__column in2publish-stagelisting__item__column--left">
			<i class="in2publish-icon-folder" title="{f:translate(key:'record.state.{record.stateRecursive}',default:record.stateRecursive)}"></i>
			<f:if condition="{record.translation}">
				<core:icon identifier="flags-{publish:miscellaneous.getIsoBySysLanguageUid(language: record.recordLanguage)}" />
			</f:if>
			<f:if condition="{config.debug.showRecordDepth}">[{record.additionalProperties.depth}]</f:if>
			<publish:Miscellaneous.GetPropertyFromStagingDefinition record="{record}" propertyName="{config.view.titleField}" stagingLevel="local" fallbackProperty="title"/>
			<i class="in2publish-icon-info" {publish:Attribute.DirtyPropertiesIconDataAttributes(record:record)}></i>
			<f:if condition="{record.publishable}">
				<f:link.action
					action="publishRecord"
					arguments="{identifier:record.identifier}"
					title="{f:translate(key:'publish_pages', default:'Publish this page')}"
					additionalAttributes="{publish:Attribute.PublishingDataAttributes()}">
					<i class="in2publish-icon-publish"></i>
				</f:link.action>
			</f:if>
		</div>

		<f:comment>
			Right
		</f:comment>
		<div class="in2publish-stagelisting__item__column in2publish-stagelisting__item__column--right">
			<i class="in2publish-icon-folder" title="{f:translate(key:'record.state.{record.stateRecursive}',default:record.stateRecursive)}"></i>
			<publish:Miscellaneous.GetPropertyFromStagingDefinition record="{record}" propertyName="{config.view.titleField}" stagingLevel="foreign" fallbackProperty="title" />
		</div>

		<f:if condition="{config.factory.simpleOverviewAndAjax}">
			<f:then>
				<div class="simpleOverviewAndAjaxContainerForRecord{record.tableName}{record.identifier}">
					<f:comment>
						Container for AJAX request results: Difference View
					</f:comment>
				</div>
			</f:then>
			<f:else>
				<f:if condition="{config.debug.allInformation}">
					<f:then>
						<f:comment>Difference View</f:comment>
						<f:render partial="Record/Index/AllPropertiesList" arguments="{_all}" />
					</f:then>
					<f:else>
						<f:comment>Difference View</f:comment>
						<f:render partial="Record/Index/DirtyPropertiesList" arguments="{_all}" />
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</div>

	<f:if condition="{record.relatedRecords.pages}">
		<ul class="in2publish-unstyledlist in2publish-list-level in2publish-list-level--{record.additionalProperties.depth}">
			<f:for each="{record.relatedRecords.pages}" as="pageRecord">
				<f:if condition="!({pageRecord.localRecordDeleted} && {pageRecord.foreignRecordDeleted} && !{pageRecord.changedRecursive})">
					<li>
						<f:render partial="Record/Index/PageList" arguments="{record:pageRecord, config:config}" />
					</li>
				</f:if>
			</f:for>
		</ul>
	</f:if>
</f:if>
