<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:in2="http://typo3.org/ns/In2code/In2publishCore/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default"/>

	<f:section name="HeaderNavigationRight">
		<f:comment>
			Disable default pagePath and pageInfo.
		</f:comment>
	</f:section>

	<f:section name="Main">
		<in2:pagination.dbalPagination query="{query}" as="rows">
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Source</th>
						<th>Target</th>
						<th>Domain</th>
					</tr>
				</thead>
				<tbody>
					<f:for each="{rows}" as="row">
						<tr>
							<td>{row.uid}</td>
							<td>{row.source_path}</td>
							<td>{row.target}</td>
							<td>{row.source_host}</td>
						</tr>
					</f:for>
				</tbody>
			</table>
		</in2:pagination.dbalPagination>
	</f:section>
</html>
