{namespace publish=In2code\In2publishCore\ViewHelpers}
<f:layout name="Tools" />

Configuration overview

<f:section name="content">
	<!-- <div class="in2publish-module"> -->
		<h2><f:translate key="module_main_title">Publish Content</f:translate></h2>

		<h3><f:translate key="module.m4.global_config">global config</f:translate></h3>

		<f:debug title="{f:translate(key:'module.m4.global_config')}" inline="true">{globalConfig}</f:debug>

		<h3><f:translate key="module.m4.personal_config">personal config</f:translate></h3>

		<f:debug title="{f:translate(key:'module.m4.personal_config')}" inline="true">{personalConfig}</f:debug>
	<!-- </div> -->
</f:section>
