<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Submodule" />

	<f:section name="Header">
		<f:render partial="Header" arguments="{moduleName: '{f:translate(key:\'module.m4.introduction.title\')}'}" />
	</f:section>

	<f:section name="Main">
		<div class="card-container">
			<f:if condition="{supports}">
				<f:render partial="Tools/GetHelp" arguments="{_all}" />
			</f:if>
			<f:render partial="Tools/IntroductionMenu" arguments="{_all}" />
		</div>
	</f:section>
</html>
