<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Module" />

	<f:section name="Content">
		<f:render partial="Header" arguments="{moduleName: '{f:translate(key:\'LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:moduleselector.index\')}'}" />
		<f:flashMessages/>
		<div class="card-container">
			<f:if condition="{supports}">
				<f:render partial="Tools/GetHelp" arguments="{_all}" />
			</f:if>
			<f:render partial="Tools/IntroductionMenu" arguments="{_all}" />
		</div>
		<f:render partial="Footer" arguments="{_all}"/>
	</f:section>

</html>
