{namespace publish=In2code\In2publishCore\ViewHelpers}
<f:layout name="Tools" />

Index - Information and Stuff

<f:section name="content">
	<div class="in2publish-module">
		<h2><f:translate key="module_main_title">Publish Content</f:translate> - <f:translate key="module.m4.logs">Logs</f:translate></h2>

		<section>
			<f:form action="showLogs">
				<label for="log_level">
					<f:translate key="module.m4.filter.log_level">Loglevel / Results per page</f:translate>
				</label>

				<f:form.select
					name="filter[level]"
					options="{filter.logLevels}"
					value="{filter.level}"
					class="filter_select"
					id="log_level" />

				<f:form.select
					name="filter[limit]"
					options="{filter.limits}"
					class="filter_select"
					value="{filter.limit}" />

				<f:form.submit class="btn btn-success" value="{f:translate(key:'submit')}" />
			</f:form>
		</section>

		<section>
			<h3>
				<f:translate key="module.m4.logs" />
			</h3>
			<table class="in2publish-tableview in2publish-tableview--fullwidth">
				<tr>
					<th><f:translate key="tx_in2code_in2publish_log.time">Date/Time</f:translate></th>
					<th><f:translate key="tx_in2code_in2publish_log.component">Component</f:translate></th>
					<th><f:translate key="tx_in2code_in2publish_log.level">Level</f:translate></th>
					<th><f:translate key="tx_in2code_in2publish_log.message">Message</f:translate></th>
					<th><f:translate key="tx_in2code_in2publish_log.data">Data</f:translate></th>
				</tr>
				<f:for each="{logEntries}" as="logEntry">
					<tr>
						<td>
							<f:format.date format="d.m.Y - H:i:s">@{logEntry.timestamp}</f:format.date>
						</td>
						<td>{logEntry.component}</td>
						<td>{logEntry.level}</td>
						<td>
							<f:translate key="tx_in2code_in2publish_log.message.{logEntry.message}" arguments="{0:'{publish:Repository.GetIdentifierNameByJsonData(data:logEntry.data)}'}">{logEntry.message}</f:translate>
						</td>
						<td>
							<f:for each="{publish:String.JsonDecode(string:logEntry.data)}" key="key" as="value">
								{key}:
								<f:if condition="{key} == 'be_user'">
									<f:then>
										<span title="UID:{value}"><publish:Repository.GetBackendUserUsernameByIdentifier identifier="{value}" /></span>
									</f:then>
									<f:else>
										<publish:Miscellaneous.HumanReadable>{value}
										</publish:Miscellaneous.HumanReadable>
									</f:else>
								</f:if>
								<br />
							</f:for>
						</td>
					</tr>
				</f:for>
			</table>
			<f:translate key="module.m4.logs.page" />
			<f:for each="{pageNumbers}" as="pageNumber">
				<f:if condition="{currentPage} == {pageNumber}">
					<f:then>
						<em>{pageNumber}</em>
					</f:then>
					<f:else>
						<f:link.action action="showLogs" arguments="{filter:filter, pageNumber:pageNumber}">
							{pageNumber}
						</f:link.action>
					</f:else>
				</f:if>
			</f:for>
		</section>

		<section>
			<h3>
				<f:translate key="module.m4.current_configuration" />
			</h3>
			<table class="in2publish-tableview">
				<tr>
					<th><f:translate key="module.m4.overview.label">Label</f:translate></th>
					<th><f:translate key="module.m4.overview.value">Value</f:translate></th>
				</tr>
				<tr>
					<td><f:translate key="module.m4.overview.overall">Overall</f:translate></td>
					<td>{logsCount}</td>
				</tr>
				<f:for each="{logConfigurations}" key="configurationKey" as="configurationValue">
					<tr>
						<td><f:translate key="module.m4.overview.{configurationKey}">{configurationKey}</f:translate>
						</td>
						<td>{configurationValue}</td>
					</tr>
				</f:for>
			</table>
		</section>

		<f:link.action action="flushLogs" class="btn btn-warning"><f:translate key="module.m4.logs.flush" /></f:link.action>
	</div>
</f:section>
