<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="ToolsWhite" />

	<f:section name="content">
		<div class="card">
			<div class="card-header">
				<label for="json_code"><h2>System Information String (JSON encoded)</h2></label>
				<div>
					<textarea id="json_code" readonly class="form-control" onclick="this.select()">{json}</textarea>
				</div>
				<small>Copy this and paste it in the ticket with your problem description (Click in the box to select the whole string)</small>
			</div>
		</div>
		<f:if condition="{showDecode}">
			<div class="card">
				<div class="card-header">
					<h2>Decode JSON</h2>
					<f:render partial="Tools/JsonInput" arguments="{_all}" />
				</div>
			</div>
		</f:if>
	</f:section>
</html>
