{namespace publish=In2code\In2publishCore\ViewHelpers}
<f:layout name="Tools" />

<f:section name="content">
	<div class="in2publish-module">
		<h2><f:translate key="module_main_title">Publish Content</f:translate> - <f:translate key="module.m4.tca">TCA</f:translate></h2>

		<h3><a id="in2publish--compatible-tca"><f:translate key="module.m4.tca.compatible">Compatible TCA</f:translate></a></h3>
		<a href="#in2publish--incompatible-tca"><f:translate key="module.m4.tca.navigate.to_incompatible">To incompatbile TCA</f:translate></a>
		<a href="#in2publish--controls"><f:translate key="module.m4.tca.navigate.to_controls">To controls</f:translate></a>
		<f:debug title="{f:translate(key:'module.m4.tca.compatible')}" inline="true">{compatibleTca}</f:debug>

		<h3><a id="in2publish--incompatible-tca"><f:translate key="module.m4.tca.incompatible">Inompatible TCA</f:translate></a></h3>
		<a href="#in2publish--compatible-tca"><f:translate key="module.m4.tca.navigate.to_compatible">To compatbile TCA</f:translate></a>
		<a href="#in2publish--controls"><f:translate key="module.m4.tca.navigate.to_controls">To controls</f:translate></a>
		<f:debug title="{f:translate(key:'module.m4.tca.incompatible')}" inline="true">{incompatibleTca}</f:debug>

		<h3><a id="in2publish--controls"><f:translate key="module.m4.tca.controls">Controls</f:translate></a></h3>
		<a href="#in2publish--controls"><f:translate key="module.m4.tca.navigate.to_compatible">To compatbile TCA</f:translate></a>
		<a href="#in2publish--incompatible-tca"><f:translate key="module.m4.tca.navigate.to_incompatible">To incompatbile TCA</f:translate></a>
		<f:debug title="{f:translate(key:'module.m4.tca.controls')}" inline="true">{controls}</f:debug>
	</div>
</f:section>
