<f:layout name="Tools" />

<f:section name="content">

	<h2>
		<f:translate key="module_main_title">Publish Content</f:translate> -
		<f:translate key="module_m4_title">Tools</f:translate>
	</h2>

	<div class="in2publish-messages">
		<f:for each="{testingResults}" as="testResult">
			<div class="typo3-message message-{testResult.severity}">
				<div class="message-header">{testResult.translatedLabel}</div>
				<div class="message-body">
					<p>
						<f:format.nl2br>{testResult.translatedMessages}</f:format.nl2br>
					</p>
				</div>
			</div>
		</f:for>
	</div>

	<f:alias map="{moduleName: 'tools'}">
		<f:render partial="Footer" arguments="{_all}" />
	</f:alias>
</f:section>
