<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="card card-info card-size-medium">
	<div class="card-header">
		<div class="card-header-body">
			<h2 class="card-title">
				<f:translate key="module.m4.introduction.get_help.title" />
			</h2>
		</div>
	</div>
	<div class="card-body">
		<ul>
			<f:for each="{supports}" as="support">
				<li>
					<f:format.raw>{support}</f:format.raw>
				</li>
			</f:for>
		</ul>
	</div>
</div>
</html>
