<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<div class="card card-default card-size-medium">
		<div class="card-header">
			<div class="card-header-body">
				<h2 class="card-title">
					<f:translate key="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:introduction.overview.title" default="Overview" />
				</h2>
			</div>
		</div>
		<div class="card-body">
			<ul class="flex-column">
				<f:for each="{tools}" as="entry">
					<li>
						<f:link.action action="{entry.initialAction}" controller="{entry.alias}">
							<f:translate key="{entry.name}" default="{entry.name}" />
							<f:if condition="{entry.description}">:<f:translate key="{entry.description}" default="{entry.description}" /></f:if>
						</f:link.action>
					</li>
				</f:for>
			</ul>
		</div>
	</div>
</html>
