<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:redirect="http://typo3.org/ns/In2code/In2publishCore/Features/RedirectsSupport/ViewHelpers"
	  data-namespace-typo3-fluid="true"
>
	<f:layout name="Default"/>

	<f:section name="Main">

		<h2>
			<f:translate key="module_main_title">TYPO3 Content Publisher</f:translate> -
			<f:translate key="module_m5_title">publish redirects</f:translate>
		</h2>
		<div class="mb-3">
			<f:render partial="Redirect/Filter" arguments="{_all}" />
		</div>
		<f:render partial="Pagination" arguments="{paginator: paginator, pagination: pagination, insertAbove: 1, insertBelow: 1}" contentAs="content">
			<f:form action="publish">
				<div class="panel panel-default">
					<table class="table table-striped table-hover">
						<thead>
						<tr>
							<th><f:translate key="redirect.record.id" /></th>
							<th><f:translate key="redirect.record.domain" /></th>
							<th><f:translate key="redirect.record.source" /></th>
							<th><f:translate key="redirect.record.target" /></th>
							<th><f:translate key="redirect.record.status" /></th>
							<th><f:translate key="redirect.record.actions" /></th>
						</tr>
						</thead>
						<tbody>
						<f:for each="{paginator.paginatedItems}" as="redirect">
							<tr>
								<td>{redirect.id}</td>
								<td>{redirect.localProps.source_host}</td>
								<td>{redirect.localProps.source_path}</td>
								<td>{redirect.localProps.target}</td>
								<td>
									<f:switch expression="{redirect.publishingState}">
										<f:case value="publishable">
											<span title="{f:render(partial: 'Redirect/DirtyProperties', arguments: _all)}">
												<core:icon identifier="actions-code-fork" size="small"/>
											</span>
										</f:case>
										<f:case value="siteRequired">
											<span title="{f:translate(key:'redirect.status.missing_page_or_site')}">
												<core:icon identifier="apps-pagetree-page" overlay="overlay-missing" size="small"/>
											</span>
										</f:case>
										<f:case value="requiresPagePublishing">
											<span title="{f:translate(key:'redirect.status.page_not_published', arguments:'{0: redirect.pageUid, 1: redirect.pageTitle}')}">
												<core:icon identifier="apps-pagetree-page" overlay="overlay-warning" size="small"/>
											</span>
										</f:case>
										<f:case value="unchanged">
											<span title="{f:translate(key:'redirect.status.published')}">
												<core:icon identifier="actions-check" size="small"/>
											</span>
										</f:case>
									</f:switch>
								</td>
								<td>
									<f:if condition="!{redirect.deleted}">
										<be:link.editRecord class="btn btn-default" table="sys_redirect" uid="{redirect.id}" title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:edit')}">
											<core:icon identifier="actions-open"/>
										</be:link.editRecord>
									</f:if>
									<f:if condition="!{redirect.reasonsWhyTheRecordIsNotPublishable.empty}">
										<f:then>
											<redirect:showReasonsButton class="btn btn-default js-in2publish-confirmation-modal" redirectRecord="{redirect}">
												<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-exclamation-triangle-alt" data-identifier="actions-exclamation-triangle-alt" aria-hidden="true">
													<core:icon identifier="actions-exclamation-triangle-alt" />
												</span>
											</redirect:showReasonsButton>
										</f:then>
										<f:else>
											<f:switch expression="{redirect.publishingState}">
												<f:case value="publishable">
													<div class="btn-group">
														<label class="btn btn-default btn-checkbox">
															<f:form.checkbox title="Select for bulk publishing" value="{redirect.id}" style="margin: 0" name="redirects[]"/>
															<f:variable name="viewPublishAll" value="1"/>
															<span class="t3-icon fa"></span>
														</label>
														<f:link.action action="publish" class="btn btn-default" arguments="{redirects: {0: redirect.id}}" title="Publish">
															<core:icon identifier="actions-caret-right" size="small"/>
														</f:link.action>
													</div>
												</f:case>
												<f:case value="siteRequired">
													<f:link.action action="selectSite" class="btn btn-default" arguments="{redirect: redirect.id}" title="Publish with site association">
														<core:icon identifier="actions-caret-right" overlay="overlay-external-link" size="small"/>
													</f:link.action>
												</f:case>
												<f:case value="publishing">
													<a href="#" class="btn btn-default disabled" title="This redirect is currently being published">
														<core:icon identifier="spinner-circle" size="small"/>
													</a>
												</f:case>
											</f:switch>
										</f:else>
									</f:if>
								</td>
							</tr>
						</f:for>
						</tbody>
						<f:if condition="{viewPublishAll}">
							<tfoot>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td><f:form.submit class="btn btn-default" value="{f:translate(key:'publish_all_selected')}"/></td>
							</tr>
							</tfoot>
						</f:if>
					</table>
				</div>
			</f:form>
		</f:render>
		<div class="row">
			<div class="col-md-6">
				<f:translate key="redirect.legend.status"/>
				<br>
				<core:icon identifier="apps-pagetree-page" overlay="overlay-missing" size="small"/>: <f:translate key="redirect.legend.status.page_or_site_required"/>
				<br>
				<core:icon identifier="apps-pagetree-page" overlay="overlay-warning" size="small"/>: <f:translate key="redirect.legend.status.page_not_published"/>
				<br>
				<core:icon identifier="actions-code-fork" size="small"/>: <f:translate key="redirect.legend.status.unpublished_changes"/>
				<br>
				<core:icon identifier="actions-check" size="small"/>: <f:translate key="redirect.legend.status.published"/>
			</div>
			<div class="col-md-6">
				<f:translate key="redirect.legend.actions"/>
				<br>
				<core:icon identifier="actions-caret-right" size="small"/>: <f:translate key="redirect.legend.actions.publish"/>
				<br>
				<core:icon identifier="actions-caret-right" overlay="overlay-external-link" size="small"/>: <f:translate key="redirect.legend.actions.associate_site_and_publish"/>
			</div>
		</div>
	</f:section>
</html>
