<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Module"/>

	<f:section name="Content">
		<h2>Assign Site to {redirect}</h2>
		<f:form name="editform" action="selectSite" objectName="properties" object="{redirect}" method="post" id="EditDocumentController">
			<f:form.hidden name="redirect" value="{redirect.uid}"/>
			<fieldset class="form-section">
				<h4 class="form-section-headline"><f:translate key="LLL:EXT:redirects/Resources/Private/Language/locallang_db.xlf:sys_redirect" /></h4>
				<div class="row">
					<div class="form-group col-sm-4 col-xs-6">
						<div class="form-group">
							<label for="tx_in2publishcore_foreign_site_id"><f:translate key="tca.sys_redirect.columns.tx_in2publishcore_foreign_site_id.label" /></label>
							<div class="input-group">
								<f:form.select property="siteId" options="{siteOptions}" id="tx_in2publishcore_foreign_site_id" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</f:form>
	</f:section>
</html>
