<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true"
>
	<f:layout name="Default"/>

	<f:section name="HeaderNavigationRight">
		<f:comment>Disable default pagePath and pageInfo.</f:comment>
	</f:section>

	<f:section name="HeaderButtonsLeft">
		<div class="btn-toolbar" role="toolbar" aria-label="">
			<f:link.action action="list" class="btn btn-default btn-sm" title="Close"><core:icon identifier="actions-close"/> <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:back" /></f:link.action>
			<button name="_saveandpublish" class="btn btn-default btn-sm " value="1" title="Save" form="EditDocumentController"><core:icon identifier="actions-document-synchronize" size="small" /> <f:translate key="save_and_publish" /></button>
		</div>
	</f:section>

	<f:section name="Main">
		<h2>Assign Site to {redirect}</h2>
		<f:form name="editform" action="selectSite" objectName="redirect" object="{redirect}" method="post" id="EditDocumentController">
			<fieldset class="form-section">
				<h4 class="form-section-headline"><f:translate key="LLL:EXT:redirects/Resources/Private/Language/locallang_db.xlf:sys_redirect" /></h4>
				<div class="row">
					<div class="form-group col-sm-4 col-xs-6">
						<div class="form-group">
							<label for="tx_in2publishcore_foreign_site_id"><f:translate key="tca.sys_redirect.columns.tx_in2publishcore_foreign_site_id.label" /></label>
							<div class="input-group">
								<f:form.select property="siteId" options="{siteOptions}" id="tx_in2publishcore_foreign_site_id" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</f:form>
	</f:section>
</html>
