<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:publish="http://typo3.org/ns/In2code/In2publishCore/ViewHelpers"
	  xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
	  data-namespace-typo3-fluid="true"
>
	<f:comment>
		Show children records with dirty properties
	</f:comment>
	<f:for each="{record.children}" key="tableName" as="relatedRecords">
		<f:if condition="{publish:Miscellaneous.HasChangedRecords(records:relatedRecords)}">
			<h3 title="{tableName}">
				<publish:Tca.GetTableLabelFromLocallang tableName="{tableName}"/>
			</h3>
			<ul class="in2publish-stagelisting__dropdown__item__list">
				<f:for each="{relatedRecords}" as="relatedRecord">
					<f:if condition="{relatedRecord.changed}">
						<li>
							<f:if condition="{stagingLevel} == 'local'">
								<publish:Link.RecordHistory class="in2publish-notextdecoration" title="{f:translate(key:'dirty_properties_undo',default:'undo')}" uid="{record.id}" table="{record.classification}">
									<i class="in2publish-icon-history"></i>
								</publish:Link.RecordHistory>
								<f:if condition="{record.id} > 1">
									<be:link.editRecord class="in2publish-notextdecoration" uid="{record.id}" table="{record.classification}">
										<i class="in2publish-icon-edit"></i>
										<f:translate key="dirty_properties_edit" default="edit"/>
									</be:link.editRecord>
								</f:if>
							</f:if>
							<publish:Tca.GetLabelFieldFromRecord record="{relatedRecord}" stagingLevel="{stagingLevel}"/>
						</li>
					</f:if>
				</f:for>
			</ul>
		</f:if>
	</f:for>
</html>
