<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Submodule" />

	<f:section name="Header">
		<f:render partial="Header" arguments="{moduleName: '{f:translate(key:\'LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:moduleselector.compare\')}'}" />
	</f:section>

	<f:section name="Main">
		<f:if condition="{differences}">
			<f:then>
				<f:render partial="Tools/CompareDatabaseTool/TransferNotice" arguments="{_all}" />
				<f:render partial="Tools/CompareDatabaseTool/Details" arguments="{_all}" />
			</f:then>
			<f:else>
				<h3><f:translate key="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:compare_database.no_differences" /></h3>
			</f:else>
		</f:if>
	</f:section>
</html>
