<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Module" />

	<f:section name="Content">

		<f:render partial="Header" arguments="{moduleName: '{f:translate(key:\'LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:moduleselector.compare\')}'}" />

		<f:form action="compare" objectName="comparisonRequest" class="form-inline">
			<div class="card card-default">
				<div class="card-header">
					<div class="card-header-body">
						<h2 class="card-title">
							<f:translate key="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:compare_database.select_tables" />
						</h2>
					</div>
				</div>
				<div class="card-body">
					<div class="row row-cols-auto align-items-end g-3">
						<div class="col">
							<label for="tables" class="form-label">
								<f:translate key="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:compare_database.tables" />
							</label>
							<f:form.select id="tables"
										   class="form-control"
										   options="{tables}"
										   property="tables"
										   multiple="true"
										   size="30"
							/>
						</div>
						<div class="col">
							<f:form.submit class="btn btn-primary" value="{f:translate(key:'LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:compare_database.compare')}" />
						</div>
					</div>
				</div>
			</div>
		</f:form>
	</f:section>
</html>
