<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Module" />

	<f:section name="Content">

		<f:render partial="Header" arguments="{moduleName: '{f:translate(key:\'LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:moduleselector.configuration\')}'}" />

		<a id="global-configuration"></a>
		<f:render section="navigation" />
		<div class="card card-default">
			<div class="card-header">
				<div class="card-header-body">
					<h2 class="card-title">
						<f:translate key="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:configuration.global_config" default="Global configuration" />
					</h2>
				</div>
			</div>
			<div class="card-body">
				<f:debug title="{f:translate(key:'LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:configuration.global_config')}" inline="true">{globalConfig}</f:debug>
			</div>
		</div>

		<a id="personal-configuration"></a>
		<f:render section="navigation" />
		<div class="card card-default">
			<div class="card-header">
				<div class="card-header-body">
					<h2 class="card-title">
						<f:translate key="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:configuration.personal_config" default="Personal configuration" />
					</h2>
				</div>
			</div>
			<div class="card-body">
				<f:debug title="{f:translate(key:'LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:configuration.personal_config')}" inline="true">{fullConfig}</f:debug>
			</div>
		</div>

		<a id="config-container-dump"></a>
		<f:render section="navigation" />
		<div class="card card-default">
			<div class="card-header">
				<div class="card-header-body">
					<h2 class="card-title">
						<f:translate key="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:configuration.container_dump" default="Config Container Dump" />
					</h2>
				</div>
			</div>
			<div class="card-body">
				<div class="row g-3">
					<div class="col-lg-4">
						<f:form class="form-inline" method="post" addQueryString="1">
							<div class="row row-cols-auto align-items-end g-3">
								<div class="col">
									<label for="emulatePage" class="form-label">
										<f:translate key="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:configuration.emulate_page" default="Enter Page ID for page specific configuration" />
									</label>
									<f:form.textfield id="emulatePage" class="form-control" name="emulatePage" value="{emulatePage}" />
								</div>
								<div class="col">
									<f:form.submit class="btn btn-primary" value="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:submit')}" />
								</div>
							</div>
						</f:form>
					</div>
					<div class="col-lg-8">
						<f:debug title="{f:translate(key:'LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:configuration.container_dump')}" inline="true">{containerDump}</f:debug>
					</div>
				</div>
			</div>
		</div>
	</f:section>

	<f:section name="navigation">
		<ul>
			<li>
				<a href="#global-configuration">
					<f:translate key="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:configuration.navigate.to_global_configuration" />
				</a>
			</li>
			<li>
				<a href="#personal-configuration">
					<f:translate key="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:configuration.navigate.to_personal_configuration" />
				</a>
			</li>
			<li>
				<a href="#config-container-dump">
					<f:translate key="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:configuration.navigate.config_container_dump" />
				</a>
			</li>
		</ul>
	</f:section>
</html>
