{namespace publish=In2code\In2publishCore\ViewHelpers}

<tr class="collapse" id="{record.tableName}-{record.localProperties.uid}">
	<td></td>
	<td colspan="4">
		<f:render section="StageProperties" arguments="{ record: record, stagingLevel: 'local'}"/>
	</td>
	<td></td>
	<td colspan="2">
		<f:render section="StageProperties" arguments="{ record: record, stagingLevel: 'foreign'}"/>
	</td>
	<td></td>
</tr>

<f:section name="StageProperties">
	<f:variable name="propertyKey">{stagingLevel}Properties</f:variable>

	<ul class="list-unstyled mb-2 ms-0">
		<f:render partial="File/Index/DirtyProperties/Property" arguments="{ record: record, propertyName: 'name', stagingLevel: stagingLevel}"/>
		<f:if condition="{record.relatedRecords.sys_file_metadata}">
			<f:for each="{record.relatedRecords.sys_file_metadata}" as="metaRecord" iteration="iterator">
				<f:if condition="{iterator.isFirst}">
					<f:render partial="File/Index/DirtyProperties/Property" arguments="{ record: metaRecord, propertyName: 'title', stagingLevel: stagingLevel}"/>
					<f:render partial="File/Index/DirtyProperties/Property" arguments="{ record: metaRecord, propertyName: 'description', stagingLevel: stagingLevel}"/>
					<f:render partial="File/Index/DirtyProperties/Property" arguments="{ record: metaRecord, propertyName: 'alternative', stagingLevel: stagingLevel}"/>
				</f:if>
			</f:for>
		</f:if>
		<f:render partial="File/Index/DirtyProperties/Property" arguments="{ record: record, propertyName: 'extension', stagingLevel: stagingLevel}"/>
		<f:render partial="File/Index/DirtyProperties/Property" arguments="{ record: record, propertyName: 'size', stagingLevel: stagingLevel}"/>
		<f:render partial="File/Index/DirtyProperties/Property" arguments="{ record: record, propertyName: 'identifier', stagingLevel: stagingLevel}"/>
	</ul>

	<f:if condition="{record.{propertyKey}.type} == 2">
		<f:image class="w-50 h-auto" src="{publish:File.BuildResourcePath(record:record,stagingLevel: stagingLevel)}"/>
	</f:if>
</f:section>
