<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:publish="http://typo3.org/ns/In2code/In2publishCore/ViewHelpers"
	  data-namespace-typo3-fluid="true"
>
	<f:if condition="{record}">
		<tr class="in2publish-stagelisting__item in2publish-stagelisting__item--{record.stateRecursive}"
			data-type="file"
			data-id="{record.id}"
			data-name="{publish:record.getMergedProperty(record:record, propertyName: 'name')}"
			data-identifier-local="{record.localProperties.identifier}"
			data-identifier-foreign="{record.foreignProperties.identifier}"
			data-identifier="{publish:record.getMergedProperty(record:record, propertyName: 'identifier')}"
			data-storage="{publish:record.getMergedProperty(record:record, propertyName: 'storage')}"
			data-searchable="{publish:miscellaneous.getPropertyFromStagingDefinition(propertyName: 'name', record: record, stagingLevel: 'local')}|{publish:miscellaneous.getPropertyFromStagingDefinition(propertyName: 'name', record: record, stagingLevel: 'foreign')}">
			<f:comment>Left</f:comment>
			<td class="col-icon">
				<publish:file.icon record="{record}" />
			</td>
			<td class="col-filename col-filename--local col-responsive nowrap">
				<span class="in2publish-stagelisting__item-filename">
					<f:if condition="{record.localProperties.name}">
						<f:then>
							{record.localProperties.name}
						</f:then>
						<f:else>
							{record.foreignProperties.name}
						</f:else>
					</f:if>
				</span>
			</td>
			<td class="col-control">
				<div class="btn-group">
					<a class="btn btn-default" data-bs-toggle="collapse" href="#{record.classification}-{record.localProperties.uid}">
						<core:icon identifier="actions-info" />
					</a>
					<f:if condition="{record.state} != 'deleted'">
						<f:then>
							<f:link.external
								class="btn btn-default"
								uri="{publish:File.BuildResourcePath(record:record,stagingLevel:'local')}"
								additionalAttributes="{'data-bs-toggle': 'tooltip'}"
								title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:view')}"
								target="_blank">
								<core:icon identifier="actions-eye" />
							</f:link.external>
						</f:then>
						<f:else>
							<span class="btn btn-default disabled" aria-hidden="true">
								<core:icon identifier="empty-empty" />
							</span>
						</f:else>
					</f:if>
					<f:if condition="{record.state} != 'deleted' && {record.children.sys_file_metadata}">
						<f:then>
							<f:if condition="{record.children.sys_file_metadata -> f:count()} > 1">
								<f:then>
									<button class="btn btn-default dropdown-toggle dropdown-toggle-no-chevron" type="button" id="translations_{record.id}" data-bs-toggle="dropdown" data-bs-boundary="window" aria-expanded="false">
										<core:icon identifier="actions-translate" />
									</button>
									<ul class="dropdown-menu dropdown-list" aria-labelledby="translations_{record.id}">
										<f:for each="{record.children.sys_file_metadata}" as="metaRecord" iteration="iterator">
											<li>
												<a href="{publish:uri.editUri(uid: metaRecord.localProperties.uid, tableName: metaRecord.tableName)}" class="dropdown-item" title="{publish:record.getMergedProperty(record: record, propertyName: 'name')}">
													<publish:record.languageFlagIcon record="{metaRecord}" side="local" /> <publish:record.getMergedProperty record="{record}" propertyName="name" />
												</a>
											</li>
										</f:for>
									</ul>
								</f:then>
								<f:else>
									<f:for each="{record.children.sys_file_metadata}" as="metaRecord" iteration="iterator">
										<f:if condition="{iterator.isFirst}">
											<a class="btn btn-default" href="{publish:uri.editUri(uid: metaRecord.localProperties.uid, tableName: metaRecord.tableName)}" data-bs-toggle="tooltip" title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:edit')}">
												<core:icon identifier="actions-pencil" />
											</a>
										</f:if>
									</f:for>
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<span class="btn btn-default disabled" aria-hidden="true">
								<core:icon identifier="empty-empty" />
							</span>
						</f:else>
					</f:if>
				</div>
			</td>
			<td class="col-control col-publish">
				<f:if condition="{record.publishing}">
					<f:then>
						<a href="#" class="btn btn-default disabled" title="{f:translate(key:'publishing_file', default:'this file is currently being published')}">
							<core:icon identifier="spinner-circle" />
						</a>
					</f:then>
					<f:else>
						<f:if condition="{record.changedRecursive}">
							<f:link.action
								class="js-publish-trigger js-publish-overlay btn btn-default"
								action="publishFile"
								arguments="{
									uid:record.identifier,
									identifier:'{publish:record.getMergedProperty(record:record, propertyName: \'identifier\')}',
									storage:'{publish:record.getMergedProperty(record:record, propertyName: \'storage\')}'}"
								data="{type: 'file', name: '{publish:record.getMergedProperty(record: record, propertyName: \'identifier\')}'}"
							>
								<f:translate key="publish"/>
								<core:icon identifier="actions-arrow-right" />
							</f:link.action>
						</f:if>
					</f:else>
				</f:if>
			</td>

			<f:comment>Right</f:comment>
			<td class="col-icon">
				<publish:file.icon record="{record}" />
			</td>
			<td class="col-filename col-filename--foreign col-responsive nowrap">
				<f:if condition="{record.foreignProperties.name}">
					<f:then>
						{record.foreignProperties.name}
					</f:then>
					<f:else>
						---
					</f:else>
				</f:if>
			</td>
			<td class="col-control">
				<f:if condition="{record.state} != 'added'">
					<f:then>
						<f:link.external
							class="btn btn-default"
							uri="{publish:File.BuildResourcePath(record:record,stagingLevel:'foreign')}"
							additionalAttributes="{'data-bs-toggle': 'tooltip'}"
							title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:view')}"
							target="_blank">
							<core:icon identifier="actions-eye" />
						</f:link.external>
					</f:then>
					<f:else>
						<span class="btn btn-default disabled" aria-hidden="true">
							<core:icon identifier="empty-empty" />
						</span>
					</f:else>
				</f:if>
			</td>

			<td class="col-state">
				<i class="in2publish-state-icon in2publish-state--{record.stateRecursive} in2publish-icon-circle ms-2"></i>
				<f:translate key="record.state.{record.stateRecursive}.short"/>
			</td>
		</tr>

		<f:comment>Difference View</f:comment>
		<f:render partial="File/Index/DirtyPropertiesList" arguments="{_all}" />
	</f:if>
</html>
