{namespace publish=In2code\In2publishCore\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:if condition="{record}">
	<tr>
		<f:comment>Left</f:comment>
		<td>
			<core:icon identifier="files-folder"></core:icon>
			<f:if condition="{config.debug.showRecordDepth}">[{record.additionalProperties.depth}]</f:if>
			<publish:Miscellaneous.GetPropertyFromStagingDefinition record="{record}" propertyName="name" stagingLevel="local" fallbackProperty="identifier" />
			<f:if condition="{record.changed}">
				<f:link.action
					action="publishFolder"
					arguments="{identifier:record.identifier}"
					additionalAttributes="{data-in2publish-overlay: 'TRUE', data-in2publish-confirm: '{f:translate(key:\'confirm_publish_pages\', default:\'Are you sure?\')}'}">
					<i class="in2publish-icon-publish"></i>
				</f:link.action>
			</f:if>
		</td>

		<f:comment>Right</f:comment>
		<td>
			<core:icon identifier="files-folder"></core:icon>
			<publish:Miscellaneous.GetPropertyFromStagingDefinition record="{record}" propertyName="name" stagingLevel="foreign" fallbackProperty="identifier" />
		</td>

		<td>
			<i class="in2publish-state-icon in2publish-state-icon--{record.state} in2publish-icon-circle"></i>
			<f:translate key="record.state.{record.state}.short"/>
		</td>
	</tr>

	<f:if condition="{record.relatedRecords}">
		<f:for each="{record.relatedRecords.physical_folder}" as="folderRecord">
			<f:render partial="File/Index/FolderList" arguments="{record:folderRecord, config:config}" />
		</f:for>
	</f:if>
</f:if>
