{namespace publish=In2code\In2publishCore\ViewHelpers}

<f:if condition="{record}">
	<div class="in2publish-stagelisting__item in2publish-stagelisting__item--{record.state} in2publish-clearfix">

		<f:comment>Left</f:comment>
		<div class="in2publish-stagelisting__item__column in2publish-stagelisting__item__column--left">
			<i class="in2publish-icon-folder"></i>
			<f:if condition="{config.debug.showRecordDepth}">[{record.additionalProperties.depth}]</f:if>
			<publish:Miscellaneous.GetPropertyFromStagingDefinition record="{record}" propertyName="name" stagingLevel="local" fallbackProperty="identifier" />
			<f:if condition="{record.changed}">
				<f:link.action
					action="publishFolder"
					class="in2publish-link-publish"
					arguments="{identifier:record.identifier}"
					additionalAttributes="{data-in2publish-overlay: 'TRUE', data-in2publish-confirm: '{f:translate(key:\'confirm_publish_pages\', default:\'Are you sure?\')}'}">
					<i class="in2publish-icon-publish"></i>
				</f:link.action>
			</f:if>
		</div>

		<f:comment>Right</f:comment>
		<div class="in2publish-stagelisting__item__column in2publish-stagelisting__item__column--right">
			<i class="in2publish-icon-folder"></i>
			<publish:Miscellaneous.GetPropertyFromStagingDefinition record="{record}" propertyName="name" stagingLevel="foreign" fallbackProperty="identifier" />
		</div>
	</div>

	<f:if condition="{record.relatedRecords}">
		<ul class="in2publish-unstyledlist in2publish-list-level in2publish-list-level--{record.additionalProperties.depth}">
			<f:for each="{record.relatedRecords.physical_folder}" as="folderRecord">
				<li>
					<f:render partial="File/Index/FolderList" arguments="{record:folderRecord, config:config}" />
				</li>
			</f:for>
		</ul>
	</f:if>
</f:if>
