{namespace publish=In2code\In2publishCore\ViewHelpers}
<f:if condition="{publishingAvailable}">
	<div class="hstack gap-3 my-2">
		<p class="m-0">
			Filter by:
		</p>
		<div class="form-check form-switch">
			<input
				class="form-check-input js-in2publish-filter"
				type="checkbox"
				role="switch"
				id="toggleStatusAdded"
				value="added"
				data-href="{f:uri.action(action: 'toggleFilterStatusAndRedirectToIndex', arguments: { filter: 'added' })}"
				{f:if(condition:'{publish:Miscellaneous.GetFilterStatus(filter:\'added\',key:\'files\')}',then:' checked')}>
			<label class="form-check-label m-0" for="toggleStatusAdded">Added</label>
		</div>
		<div class="form-check form-switch">
			<input
				class="form-check-input js-in2publish-filter"
				type="checkbox"
				role="switch"
				id="toggleStatusChanged"
				value="changed"
				data-href="{f:uri.action(action: 'toggleFilterStatusAndRedirectToIndex', arguments: { filter: 'changed' })}"
				{f:if(condition:'{publish:Miscellaneous.GetFilterStatus(filter:\'changed\',key:\'files\')}',then:' checked')}>
			<label class="form-check-label m-0" for="toggleStatusChanged">Changed</label>
		</div>
		<div class="form-check form-switch">
			<input
				class="form-check-input js-in2publish-filter"
				type="checkbox"
				role="switch"
				id="toggleStatusDeleted"
				value="deleted"
				data-href="{f:uri.action(action: 'toggleFilterStatusAndRedirectToIndex', arguments: { filter: 'deleted' })}"
				{f:if(condition:'{publish:Miscellaneous.GetFilterStatus(filter:\'deleted\',key:\'files\')}',then:' checked')}>
			<label class="form-check-label m-0" for="toggleStatusDeleted">Deleted</label>
		</div>
		<div class="form-check form-switch">
			<input
				class="form-check-input js-in2publish-filter"
				type="checkbox"
				role="switch"
				id="toggleStatusMoved"
				value="moved"
				data-href="{f:uri.action(action: 'toggleFilterStatusAndRedirectToIndex', arguments: { filter: 'moved' })}"
				{f:if(condition:'{publish:Miscellaneous.GetFilterStatus(filter:\'moved\',key:\'files\')}',then:' checked')}>
			<label class="form-check-label m-0" for="toggleStatusMoved">Moved</label>
		</div>
		<div class="form-check form-switch">
			<input
				class="form-check-input js-in2publish-filter"
				type="checkbox"
				role="switch"
				id="toggleStatusUnchanged"
				value="unchanged"
				data-href="{f:uri.action(action: 'toggleFilterStatusAndRedirectToIndex', arguments: { filter: 'unchanged' })}"
				{f:if(condition:'{publish:Miscellaneous.GetFilterStatus(filter:\'unchanged\',key:\'files\')}',then:' checked')}>
			<label class="form-check-label m-0" for="toggleStatusUnchanged">Unchanged</label>
		</div>
	</div>
</f:if>
