<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Submodule"/>

	<f:section name="Header">
		<f:render partial="Header" arguments="{moduleName: '{f:translate(key:\'LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:moduleselector.record_inspector\')}'}" />
	</f:section>

	<f:section name="Main">
		<f:form action="inspect">
			<div class="card card-default">
				<div class="card-header">
					<div class="card-header-body">
						<h2 class="card-title">
							<f:translate key="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:recordinspector.inspection_hint" />
						</h2>
					</div>
				</div>
				<div class="card-body">
					<div class="row row-cols-auto align-items-end g-3">
						<div class="col">
							<label for="classification" class="form-label">
								Classification
							</label>
							<f:form.select id="classification"
										   class="form-select"
										   options="{classifications}"
										   name="classification"
										   value="pages"
							/>
						</div>
						<div class="col">
							<label for="identifier" class="form-label">
								Identifier
							</label>
							<f:form.textfield id="identifier" class="form-control" name="identifier"/>
						</div>
						<div class="col">
							<f:form.submit class="btn btn-primary" value="Inspect"/>
						</div>
					</div>
				</div>
			</div>
		</f:form>
	</f:section>
</html>
