<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default"/>

	<f:section name="Main">
		<f:form action="inspect">

			<fieldset class="form-section">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="classification">Classification</label>
							<f:form.select id="classification" class="form-control" options="{classifications}" name="classification"
										   value="pages"/>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="id">Identifier</label>
							<f:form.textfield id="id" class="form-control" name="id"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<f:form.submit class="btn btn-primary" value="Inspect"/>
						</div>
					</div>
				</div>
			</fieldset>
		</f:form>
	</f:section>
</html>
