<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Submodule" />

	<f:section name="Header">
		<f:render partial="Header" arguments="{moduleName: '{f:translate(key:\'LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:moduleselector.record_inspector\')}'}" />
	</f:section>

	<f:section name="Main">
		<div class="card card-default">
			<div class="card-header">
				<div class="card-header-body">
					<button class="btn btn-primary" onclick="document.querySelectorAll('.extbase-debugger-tree > input[type=\'checkbox\']').forEach(el => {
						if (!['ignoredProps', 'changedProps', 'localProps', 'foreignProps'].includes(el.parentElement?.previousSibling?.previousElementSibling?.textContent))
							el.click()
						});"><f:translate key="LLL:EXT:in2publish_core/Resources/Private/Language/locallang_mod4.xlf:recordinspector.toggle_all_relations" default="Toggle all relations" /></button>
				</div>
			</div>
			<div class="card-body">
				<f:debug inline="true" maxDepth="20">{recordTree}</f:debug>
			</div>
		</div>


	</f:section>
</html>
